[2016-04-13 09:01] kostafey opened #1 "Add log roll"

[2016-04-13 09:05] kostafey opened #2 "Special connections list for ejc-connect"

[2016-04-13 09:06] kostafey opened #3 "Handle multiple connections"

[2016-04-14 08:25] #2 closed

[2016-04-14 08:25] kostafey commented on #2
Fixed.

[2016-04-19 17:10] kostafey commented on #3
Done.

[2016-04-19 17:10] #3 closed

[2016-04-19 17:11] kostafey opened #4 "Keep cache for connection, not buffer."

[2016-04-19 18:31] kostafey commented on #1
Done.

[2016-04-19 18:31] #1 closed

[2016-04-21 12:46] kostafey commented on #4
Done.

[2016-04-21 12:46] #4 closed

[2016-04-22 10:06] kostafey opened #8 "Java process persists for H2 database server."
Java process persists for H2 database server after nREPL process terminated.

[2016-04-22 10:12] kostafey opened #9 "Use java-side SQL formatter"
Try to use [OpenJPA SQLFormatter](http://openjpa.apache.org/builds/1.2.1/apache-openjpa-1.2.1/docs/javadoc/org/apache/openjpa/lib/jdbc/SQLFormatter.html) or Hibernate one.

[2016-04-28 10:27] stardiviner opened #11 "MELPA install issue"
[code]
This is the error output of:

[code]

[2016-04-28 15:05] kostafey commented on #11
I've never used `use-package` Emacs extension. So, installing `ejc-sql` in a common way (as described in README) is ok.

I've installed `use-package` and run

[code]

With the following result:
[code]

Maybe it's a `use-package` problem? How can I help you?

[2016-04-28 15:49] stardiviner commented on #11
I check out what `clomacs` is.
Then I reinstalled `clomacs`. And then reinstall `ejc-sql`.
Then problem solved. I guess this is because `clomacs` install does not generate autoload for `clomacs--doc` variable.

[2016-04-28 15:49] #11 closed

[2016-05-14 00:46] declanqian opened #12 "ejc-configure-sql-buffer: Symbol’s function definition is void: sql-ansi-mode"
What is the ~sql-ansi-mode~?  Why I can't find it? While ~sql-mode~ works fine?

[2016-05-14 11:29] kostafey commented on #12
Oh, really. It's an entity from my `.emacs`. Fixed in last commit.

[2016-05-14 11:29] #12 closed

[2016-08-15 22:08] tutysara opened #13 "Cannot install in spacemacs"
I tried installing it in spacemacs by running ```M-x package-install RET ejc-sql```. I got a compilation error ```ejc-sql.el:41:1:Error: Symbol's value as variable is void: clomacs--doc``` and the package fails to install

[2016-08-26 09:26] kostafey commented on #13
Clomacs clashes with spacemacs problem (https://github.com/clojure-emacs/clomacs/issues/8).

[2016-08-26 09:26] #13 closed

[2016-09-07 12:25] kostafey opened #14 "Show current connection name"
Show current connection name for SQL buffer.

[2016-09-09 05:08] stardiviner commented on #14
Perhaps give out a function which can be used in custom mode-line.

[2016-09-15 14:48] kostafey commented on #14
@stardiviner, you can `ejc-connection-name` (it's buffer-local). But it should be rendered in modeline for `ejc-sql-mode` buffers.

[2016-09-15 20:41] tutysara opened #16 "ejc-open-log couldn't find log path"
When i run ```ejc-open-log```, it doesn't take me to the log file.
In the *Messages* window I see these messages

[code]

I guess we should change to use absolute paths in this function

[2016-09-15 23:14] tutysara opened #18 "autocomplete doesnt' work due to time out"
I am connecting to a remote sql server.
I couldn't get auto complete to work. I see this in the message buffer

[code]

can we increase the timout time and make it configurable

[2016-09-16 03:10] tutysara commented on #18
I guess we need to allow configuring ```nrepl-sync-request-timeout``` variable in clomacs

[2016-09-16 07:33] kostafey commented on #16
Ok. Thank you.

[2016-09-16 07:33] #16 closed

[2016-09-16 07:56] kostafey commented on #18
User can change `nrepl-sync-request-timeout` directly, clomacs is trying to be close to CIDER as much as possible. But there are some ideas to do:

1. `nrepl-sync-request-timeout` should be mentioned in ejc-sql README.
2. Timeout should have possibility to be passed to `ejc-eval-user-sql-at-point` as prefix number,
e.g. <kbd>M-6 M-0 C-c C-c C-c</kbd> - eval SQL with 60 sec timeout.
3. For autocomp

[2016-09-16 15:25] tutysara commented on #18
most of my queries take more than a min, I had set ```nrepl-sync-request-timeout``` to 60 sec in my ```.spacemacs``` file and it works, ty.

For making autocomplete to work async, do we have anything in clomacs that support async execution?

[2016-09-16 15:34] kostafey commented on #18
Not yet.

[2016-09-16 16:48] tutysara commented on #18
ok sure, can we add this as an enhancement to clomacs. probably add a sync flag in ```clomacs-def``` args to use ```nrepl-request:eval``` and callback.

[2016-09-16 19:48] tutysara commented on #18
Another idea is to load and cache the database structure in the clojure side and use the sync requests as usual.

[2016-09-16 19:57] kostafey commented on #18
Database structure is already cached in EmacsLisp side. But it's an interesting idea. EmacsLisp request for database structure data can start async Clojure (probably long-running request) and receive cached data or empty data (if request still running)  immediately.

[2016-09-17 14:59] tutysara commented on #18
Tried writing a async version of the clomacs-defun macro, here is what i have

[code]
and the test code
[code]
does it look good?

[2016-09-19 18:12] tutysara commented on #18
I see the changes adapted in clomacs, ty. Let me get the latest version check and see

[2016-09-19 18:29] kostafey commented on #18
That is a rough version, but feel free to play with it.

[2016-09-20 07:45] kostafey commented on #18
Ok, looks like there is no way to prevent unwanted calls for callback except checking for result is not nil.

[2016-09-20 12:41] tutysara commented on #18
yes, nprel calls the callback for value and status update. I was looking into nrepl source code to see if they can send multiple messages with value, if they are sending multiple then we may have to collect all values till the status is done and then call the callback with the complete value.

[2016-09-21 05:55] stardiviner opened #19 "Enhance README"
I don't know how to set ejc-sql for `SQLite`, `PostgreSQL` and `MySQL`.
Can you show examples in README. And add those examples in README? So that some newbie can setup by following those examples.
Thanks in advance.

[2016-09-21 08:23] kostafey commented on #19
MySQL example is already here.

[2016-09-21 09:33] stardiviner commented on #19
Also need to declare which clojure library needed as driver.
Does MySQL driver support MariaDB ?

[2016-09-21 09:54] kostafey commented on #19
You should use JDBC drivers the same way you use it for java. ejc-sql uses `org.clojure/java.jdbc "0.5.8"` clojure lib, a common clojure JDBC wrapper.

It's not a question for ejc-sql. Please search for appropriate JDBC drivers for your database via Google :)
Looks like this connector is suitable for MariaDB: https://mariadb.com/kb/en/mariadb/about-mariadb-connector-j/

[2016-09-21 10:42] stardiviner commented on #19
Here is what got, you can consider it.

| Database             | Driver                                         |
|----------------------+------------------------------------------------|
| SQLite               | ~[sqlitejdbc "0.5.6"]~                           |
| MySQL                | ~[mysql/mysql-connector-java "5.1.6"]~           |
| MariaDB              | ~[org.mariadb.jdbc/mariadb-java-cli

[2016-09-21 12:24] kostafey commented on #19
Ok. Would you like me to add some notes to README for users without java & JDBC experience background?

[2016-09-21 12:47] stardiviner commented on #19
Yes. Because I'm too.

[2016-09-21 15:44] kostafey commented on #19
Ok, I've added a small note about JDBC installation. Please notify me, if you need more information.

[2016-09-21 16:05] stardiviner commented on #19
I got the error when executing:
[code]

Error:
[code]

[2016-09-21 16:07] kostafey commented on #19
Show your `settings.xml` please.

[2016-09-21 16:08] stardiviner commented on #19
Sorry, I checked my `seetings.xml`, I corrected it, and commands works ok. Thanks.

[2016-09-21 16:08] #19 closed

[2016-09-30 02:23] tutysara opened #20 "Enhancement - Allow nrepl clojure backend to perisit between emacs restarts and allow connecting to existing nrepl backend"
Sometimes I have to restart emacs multiple times. Is there a way to keep the ejc-sql clojure backend  alive between emacs restarts or run the backend out of emacs and connect to it from emacs, like `cider-connect`

It will save a lot of time. Also the backend is very stable and I don't have a need to restart it everytime with emacs.

[2016-10-17 12:52] #9 closed

[2016-10-17 14:50] #14 closed

[2016-11-22 11:22] kostafey commented on #18
@tutysara you can test last activity about this issue in the `new-cache` branch. It will be merged to `master` branch soon after some testing.

[2016-11-23 04:40] tutysara commented on #18
sure, let me test after office and update

[2016-12-14 09:31] kostafey opened #24 "Use full connection uri as in Clojure jdbc :connection-uri"
Use full connection uri as in Clojure jdbc `:connection-uri`.

[2016-12-16 10:35] mickej commented on #24
It works fantastic. Tested with the following configurations:

[code]

[code]

Thanks for your great work!

[2016-12-16 10:40] #24 closed

[2016-12-16 10:42] kostafey commented on #24
Thank you.

[2017-01-03 22:45] kostafey commented on #18
@tutysara `new-cache` branch merged to `master`, so the let's consider issue closed. In the case of any related bugs or ideas, new issues should be created.

[2017-01-03 22:45] #18 closed

[2017-02-28 07:37] kostafey opened #28 "Add database structure visualisation tree"
Add database structure visualisation tree via `direx`.

[2017-03-11 03:06] stardiviner opened #29 "Add helper functions to interactively setup SQL connection"
Hope `ejc-sql` can create a universal helper function to help user setup SQL connection interactively.

For example, a command `ejc-sql-connect-to-sql`,
1. it will show the stored connections in persistent when no input yet.
2. After user input some characters like `sqlite`
3. if has match connection, then select it to connect.
4. if has no match connection, then create a new connect with the inpu

[2017-03-14 14:47] kostafey opened #30 "Fix SQL dialect."
Fix SQL dialect.

[2017-06-21 05:56] nigredo-tori opened #31 "Use configurable keymap prefix"
Current keybindings are short and will probably clash with some pre-existing ones (most notably, `C-c p` is used by projectile). This can be resolved on case-by-case basis, but it's probably worth it to provide a configurable keymap prefix. Here's how projectile does it: https://github.com/bbatsov/projectile/blob/da581cdfe4f4f63137f3320ed3dbda9cf6c20e14/projectile.el#L3469-L3523

[2017-06-21 09:53] kostafey commented on #31
Ok. I've added prefix key for some bindings. But what about keeping some keys as-is?
https://github.com/kostafey/ejc-sql/blob/master/ejc-sql.el#L64

- `C-c C-c` - is too common to eval something.
- `C-h ...` - to pretend common emacs help keys.
- `C-s-<arrows>` - keys are too handy. I haven't seen any clashes with them.

[2017-06-21 10:29] nigredo-tori commented on #31
I've only seen `C-c C-c` being used for compilation, but eval is close enough.
`C-h t` clashes with Emacs tutorial of all things, but shouldn't be a problem. It would be a bit more intuitive for me if this was something like `C-c C-v t` though, to keep it aligned with Ensime bindings, but that's just me.

About `C-s-<arrows>` - `Super` is often used by something system-wide. In vanilla Ubuntu envi

[2017-06-21 10:38] nigredo-tori commented on #31
Sorry, I meant `C-M-f/b` in the last paragraph.

[2017-06-21 10:53] kostafey commented on #31
Oh, really I've forgotten about `C-h t` for Emacs tutorial. `C-s-<arrows>` are replaced with `C-M-f/b`. Can I consider the issue closed?

[2017-06-21 11:43] nigredo-tori commented on #31
Yes, it's fixed. Thank you.

[2017-06-21 11:43] #31 closed

[2017-07-25 09:24] peterjasc opened #32 "Oracle 11.2.0.4 invalid character (ORA-00911) for ejc-show-tables-list"
invalid character (ORA-00911) for ejc-show-tables-list

[2017-07-25 09:29] kostafey commented on #32
What is database type? Could you show the full stack trace, please?

[2017-07-25 11:21] peterjasc commented on #32
Oracle 11.2.0.4

Stack trace:

Debugger entered--Lisp error: (wrong-type-argument stringp nil)
  get-buffer(nil)
  display-buffer(nil)
  sql-show-sqli-buffer()
  funcall-interactively(sql-show-sqli-buffer)
  call-interactively(sql-show-sqli-buffer nil nil)
  command-execute(sql-show-sqli-buffer)

[2017-07-27 12:06] kostafey commented on #32
@peterjasc, could you update `ejc-sql` and [clomacs](https://github.com/clojure-emacs/clomacs) and checkout `ejc-show-tables-list` again, please?

[2017-07-27 13:16] peterjasc commented on #32
@kostafey
Debugger entered--Lisp error: (error "Run M-x ejc-connect first!")
  signal(error ("Run M-x ejc-connect first!"))
  error("Run M-x ejc-connect first!")
  ejc-check-connection()
  ejc-show-tables-list()
  funcall-interactively(ejc-show-tables-list)
  call-interactively(ejc-show-tables-list record nil)
  command-execute(ejc-show-tables-list record)
  execute-extended-command(nil "ejc-show-

[2017-07-27 13:18] peterjasc commented on #32
@kostafey **nil**, no errors

[2017-07-27 18:49] kostafey commented on #32
I've added current schema receiving for Oracle but, unfortunately, I don't have running Oracle db instance to check the result. You can update `ejc-sql` and try to get `ejc-show-tables-list` again. If no luck, please, provide the correct way to receive actual db schema.

[2017-07-28 07:50] peterjasc commented on #32
@kostafey as soon as I have time.

Debugger entered--Lisp error: (error "SQLSyntaxErrorException ORA-00911: invalid character\n  oracle.jdbc.driver.T4CTTIoer.processError (T4CTTIoer.java:447)\n")
  signal(error ("SQLSyntaxErrorException ORA-00911: invalid character\n  oracle.jdbc.driver.T4CTTIoer.processError (T4CTTIoer.java:447)\n"))
  error("SQLSyntaxErrorException ORA-00911: invalid character\n

[2017-07-28 12:50] kostafey commented on #32
Looks fixed now. Please check the last version.

[2017-08-03 13:50] #32 closed

[2017-08-10 01:18] RyanDur opened #33 "ac-update-greedy schema_owner"
I keep getting this error. It does not stop the query from working but it does interfere with the autocomplete.

Error running timer ‘ac-update-greedy’: (error "SQLSyntaxErrorException Unknown column ’schema_owner’ in ’field list’  com.mysql.cj.jdbc.exceptions.SQLError.createSQLException (SQLError.java:536)")

[2017-08-10 09:27] kostafey commented on #33
Could you update `ejc-sql` and check again, please?

[2017-09-23 21:05] kirill-gerasimenko opened #34 "Alias for table (MSSQL) doesn't show columns"
Hi,

I've got ejc-sql installed into Emacs 25.3.1 with Spacemacs on Windows 10.
I've installed JDBC driver (version 6.2, the latest one) as explained in the documentation.
I'am able to connect to the database, do queries etc.

But when I try such code:
[code]
I don't get autocomplete on the last line. If I put there proper value and execute - everything works.

Please advise.

PS: if you need more

[2017-09-23 21:32] kostafey commented on #34
Autocompletion for aliases doesn't work yet. It will be implemented in future versions.
For full names, it should work as expected:
[code]

[2017-09-23 21:33] kirill-gerasimenko commented on #34
Thanks for your response and great tool!

Looking forward to the new version :)

[2017-09-25 14:12] kirill-gerasimenko opened #35 "C-c e t seems to include tables only from dbo schema for MS Sql Server"
Hi,

When I do `C-c e t` the returned list of tables in the database has only tables from `dbo` schema.
I'm using Sql Server 2016.
I can track it till (def default-queries ..) where `:tables` gets set, and it is used later for ms sql, and the `schema` there is `dbo` in my case (checked with profiler) which filters out everything other than `dbo`, but can't figure out further :)

[2017-09-25 14:45] kostafey commented on #35
That is an expected behaviour, to get tables list for current DB schema:
https://github.com/kostafey/ejc-sql/blob/master/src/ejc_sql/structure.clj#L234

Would you like to see the full tables list?

[2017-09-25 14:57] kirill-gerasimenko commented on #35
Yes, that would be helpful, since we practice grouping tables under certain schema, and to quickly look at the tables list to find out the name helps a lot.

Also a bit related thing - autocomplete for custom schema seems not to work:
[code]
After final `.`  nothing appears.
I can create another issue for the latter if you wish.

[2017-09-25 14:58] kirill-gerasimenko commented on #35
May be pass parameter with `C-u` to the command so it shows tables from all schemas?

[2017-10-16 23:36] kostafey commented on #34
@kirill-gerasimenko could you check autocompletion for aliases, please?

[2017-10-18 11:00] kirill-gerasimenko commented on #34
Hi,

I've checked auto-completion for the case I've described and it works!
Thanks a lot!

For this however it doesn't
[code]

[2017-10-18 11:02] kirill-gerasimenko commented on #34
Hi,

I've checked auto-completion for the case I've described above and it works!
Thanks a lot!

For this however it doesn't
[code]

[2017-10-18 11:07] kirill-gerasimenko commented on #35
Hi,

For SQL server this gives me error because of `LCASE` function, seems like for TSQL it's equivalent is `LOWER`
(https://docs.microsoft.com/en-us/sql/t-sql/functions/lower-transact-sql).

`Error: 'LCASE' is not a recognized built-in function name.`

Thanks a lot, these changes you make make my use cases easier!

[2017-10-18 11:43] kostafey commented on #35
To figure out the problem of tables autocomplete for custom schema, could you check the result of this query:
[code]

[2017-10-18 13:14] kirill-gerasimenko commented on #35
This gives empty result set.

[2017-10-18 14:04] kostafey commented on #35
Ok, and what returns the following snippet:
[code]

[2017-10-18 15:14] kirill-gerasimenko commented on #35
The same - empty result set.

[2017-10-18 15:24] kostafey commented on #35
Ok, this one:
[code]

[2017-10-19 11:04] kostafey commented on #34
Check the last example autocompletion case, please.

[2017-10-19 19:19] kirill-gerasimenko commented on #35
Nope :) Still nothing

[2017-10-19 19:35] kirill-gerasimenko commented on #34
It works now! Thanks a lot!

I don't know if it is important - the auto-completion suggestions are in lower case, so if `Field2` is the original one - the suggested one is `field2`. Also there is a minor one with autocomplete - it also suggests statements (like if you type `t.a` - you'll have `AND` in the suggestion), may be it's by design.
Sorry for disturbing you with these micro details

[2017-10-19 19:46] kostafey commented on #35
This is weird. For me, all these cases provide correct tables list. Do you bundle tables to 'customschema' correctly? Furthermore, this can be caused by SQL Server version, since I have only older instances. Could you provide the correct query for tables list of predefined schema name, please?

[2017-10-21 21:38] kirill-gerasimenko commented on #35
Oh, my. It seems like I missed that part with `customschema` - it was a dummy name I used as an example and I don't have it as a real schema in the database - that's why I couldn't find it, and misguided you with my answers.

Below, I'm using now real schema `config`, this first query you asked to check gives me 5 results, which are correct for my case (table names are not relevant). I'm using SSM

[2017-10-21 21:39] kirill-gerasimenko commented on #35
I've forgotten to mention that for `dbo` auto-completion works correctly.

[2017-12-05 13:35] kostafey commented on #34
@kirill-gerasimenko, could you check all related to this issue cases is fixed in the last version, please?

[2017-12-07 06:36] kirill-gerasimenko commented on #34
Hi, I'll do that and let you know!

[2017-12-08 19:52] kirill-gerasimenko commented on #34
Hi,

First case with alias works well. The second one with sub-query - as well works as expected (I've tested with different combinations like aliases in sub-queries and so on), and case of the letters also corresponds to the case in the sub-query.

The problem with auto-completion of keywords etc. seems like is still there:

![image](https://user-images.githubusercontent.com/3036330/33782394-d945

[2017-12-21 19:57] kostafey opened #36 "Add JDBC driver to CLASSPATH for new connections if needed"
Add JDBC driver to CLASSPATH for new connections if new connection refers to the different database type.

OPTIONALLY: Remove JDBC from CLASSPATH when buffer with last connection requires this type of JDBC is closed.

[2017-12-21 20:05] kostafey opened #37 "Keep connection usage statistics and offer most frequently used first"
Keep connection usage statistics and offer most frequently used first when `ejc-connect` is called.

[2017-12-21 21:20] kostafey commented on #34
Thank you for patience. Could you check again, please?

[2017-12-25 22:47] kostafey commented on #35
@kirill-gerasimenko. looks fixed. Please, check it out.

[2017-12-26 13:24] #30 closed

[2017-12-26 13:24] kostafey commented on #30
Fixed.

[2017-12-26 13:28] #36 closed

[2017-12-26 13:33] kostafey commented on #8
Can't reproduce on Linux, local file h2 connection.

[2017-12-26 13:33] kostafey commented on #36
Already implemented.

[2017-12-26 15:42] kostafey commented on #37
Implemented.

[2017-12-26 15:42] #37 closed

[2017-12-26 15:43] kostafey opened #38 "Update clojure/java.jdbc"

[2017-12-26 23:04] kostafey commented on #20
@tutysara, sorry for so late response. You can check `Use existing nREPL` section in README for this issue.

[2017-12-26 23:04] #20 closed

[2017-12-28 10:20] kostafey opened #39 "Handle lines with \n symbols in result sets"

[2018-02-07 16:01] kirill-gerasimenko commented on #34
Hi,

![image](https://user-images.githubusercontent.com/3036330/35926404-5d1c311e-0c28-11e8-9051-885582fa7dcd.png)

It looks like `INSERT` is gone, but `INFROMATION_SCHEMA` is still present.

Sorry for this taking so long!

[2018-02-07 16:15] kirill-gerasimenko commented on #35
Looks good now, thanks!

[2018-02-07 16:15] #35 closed

[2018-02-07 16:26] kostafey opened #40 "Handle Blob results"
Handle Blob results.

[2018-02-11 19:16] kostafey commented on #34
@kirill-gerasimenko, looks fixed for schemas. Check again, please.

[2018-07-01 17:28] #34 closed

[2018-07-01 18:06] kostafey commented on #40
Done.

[2018-07-01 18:06] #40 closed

[2018-08-09 10:02] kostafey opened #43 "Terminate running queries."
Terminate running queries.

[2018-08-16 09:38] kostafey opened #44 "Autocomplete for stored procedures"
Autocomplete for stored procedures.

[2018-08-24 05:58] stardiviner commented on #38
New clojure/java.jdbc from (maybe) 0.7.0 support new style db-spec like this:
[code]
Can `ejc-sql` update to this version so that define db-spec can be easier?

[2018-08-24 09:05] stardiviner opened #45 "ejc-connect-existing-repl error"
[code]

[2018-08-24 23:53] stardiviner commented on #38
That's great. Thanks :+1:
If I want to try `clojure_java.jdbc_0.7.6`, How to configure it in ejc-sql?

[2018-08-27 04:30] stardiviner commented on #45
@kostafey Is there a simple way to make it work? Or can you fix it quickly. Because I use it a lot in my current programming flow. Like I open an Org Mode SQL src block, then enable `ejc-sql-mode` and connect to existing connection.

[2018-08-27 10:10] kostafey commented on #45
Looks fixed. Please update `ejc-sql` and try again. Furthermore, please note, that new `lein` should be stared by `lein repl`.

[2018-08-27 14:04] kostafey commented on #45
Looks fixed. Please, update `ejc-sql` and `clomacs` projects, then try again by `lein repl` and `ejc-connect-existing-repl`.

[2018-08-28 09:04] stardiviner commented on #45
Confirmed. It works. Thanks for quick update!!!

[2018-08-28 09:05] #45 closed

[2018-08-28 09:54] stardiviner commented on #38
If I use `ejc-connect`, It must be supported in ejc-sql struct, maybe I can use `lein run`, then `ejc-connect-existing-repl`? But I'm not sure that will not, I guess it will not, because seems `ejc-sql` did some extra work on SQL completion, and configuration etc.

[2018-08-28 11:59] kostafey commented on #38
I use `clojure_java.jdbc_0.7.6` branch for my personal work. But I keep the previous version - `org.clojure/java.jdbc "0.5.8"` as a dependency in master (and in MELPA) since someone can accidentally face a problem during the ordinary update. Connections can stop working. That is not ejc-sql issue, it's a clojure_java.jdbc - related.
I guess, that I should freeze some master's commit, and distribut

[2018-08-29 07:00] stardiviner commented on #38
I use the `clojure_java.jdbc_0.7.6` branch, and got this error:

`Debugger entered--Lisp error: (wrong-type-argument arrayp nil)
  file-truename(nil)
  (make-ejc-db-conn :classpath (file-truename classpath) :classname classname :subprotocol subprotocol :subname subname :dbtype dbtype :dbname dbname :host host :port port :user user :password password :database database :connection-uri connection-ur

[2018-08-30 16:03] WammKD opened #46 "[[Bug]] `\` Char Doesn't Have Any Effect"
I've noticed this for a while but I recently downloaded the most recent update (20180827.1408) and I've still noticed it.

Putting a `\` after a query pretty much does nothing with the entire buffer being highlighted on `C-c C-c` and, naturally, a response of "Error: Incorrect syntax near '\'."

The version of Emacs I'm currently running is

GNU Emacs 26.1 (build 1, x86_64-apple-darwin17.5.0, Carb

[2018-08-30 18:13] kostafey commented on #46
It's a documentation mistake. Please, use `/` instead of `\`.

[2018-08-31 16:26] WammKD commented on #46
'Fraid that has the same result. I'd originally done that (I thought I'd remember the doc. originally saying to use `\`, plus there's font-lock highlighting for it when used) but pretty much the exact same thing happens.

[2018-08-31 16:52] kostafey commented on #46
Ok. Let's figure out, you have some SQL buffer with a text like this:
[code]
right?
If you use Oracle database, please add `:separator "/"` to your `ejc-create-connection` config.

Furthermore, you can place you cursor (point) somewhere in one of this SQL statements and try:
`M-x eval-expression` `[RET]` `(ejc-get-sql-boundaries-at-point)` `[RET]`
What is the result of such evaluation?

[2018-08-31 17:29] WammKD commented on #46
I think I see what the issue is, now. I'd been doing

Doing it as you have it works. I could've sworn I'd done it like above before (hence why I was confused when it wasn't working) but 'could just be my poor memory.

Thanks for helping me figure it out!

Might be worth putting a note in the doc. in case someone else tries what I did?

[2018-09-01 14:26] kostafey commented on #46
Great! I've added some more usage examples. Looks like, I need to make a screencast with all `ejs-sql` functionality observation, sonce some of it may be not so obvious.

[2018-09-01 14:26] #46 closed

[2018-09-03 13:27] kostafey opened #47 "Persist database structure cache between connection sessions"
Persist database structure cache between connection sessions.

[2018-09-19 10:09] stardiviner commented on #38
I found this why.
I have not set `:dbname` in connection setup.
Here is the diff:

[code]
And need to make sure the database has at least one table. I think this can be put into README FAQ.

[2018-09-19 10:10] stardiviner commented on #39
I guess my error output is associated with this issue.

When I show last result `[C-c e up]`. I got error (I toggled `toggle-debug-on-error`):
[code]

[2018-09-29 11:56] kostafey commented on #39
@stardiviner This problem is not related to the issue, but I guess it's fixed by the following commit: https://github.com/kostafey/ejc-sql/commit/a4db6db8a3f9d218bbba728c5ac2f2847df10343

[2018-10-06 16:32] kostafey commented on #43
Done.

[2018-10-06 16:32] #43 closed

[2018-10-28 17:09] kostafey opened #48 "Better strip regex"
Better strip regex.

[2018-10-28 17:10] kostafey opened #49 "Restrict the number of records to show by Statement"
Restrict the number of records to show by Statement, add [fetch more].

[2018-10-31 17:58] kostafey opened #50 "Handle queries with / chars in strings."
Handle queries with / chars in strings.

[2018-11-04 14:52] kostafey opened #51 "Check if database has at least one table"
Check if the database has at least one table - https://github.com/kostafey/ejc-sql/issues/38#issuecomment-422740257

[2018-11-04 15:02] kostafey commented on #38
@stardiviner Ok, new clojure/java.jdbc connection structure is in the `master`. It should works as expected.
For the requirement of a database to have at least one table, please refer this issue: #51

[2018-11-04 15:02] #38 closed

[2018-11-04 15:21] kostafey opened #52 "Update & insert related autocompletion"
Update & insert related autocompletion.

[2018-11-04 20:47] kostafey commented on #50
Done.

[2018-11-04 20:47] #50 closed

[2018-11-06 15:16] kostafey opened #53 "Autocompletion optional fuzzy matching"
Autocompletion optional fuzzy matching.

[2018-11-08 09:00] stardiviner opened #54 "How about make `ejc-connect` async like CIDER start REPL?"
CIDER launch for project is async by default. `ejc-connect` takes about 1.5 minutes, it is not very long, but if async is easy, I hope it can be async.

[2018-11-08 09:08] stardiviner commented on #45
I found `ejc-connect-existing-repl` does not bind current buffer with ejc-sql session.
Here is my steps to reproduce this issue:

[code]

1. `[M-x ejc-connect RET PostgreSQL RET]` to launch a new ejc-sql REPL session.
2. In another Org Mode file buffer, open a sql source block like this:

[code]

3. In the opened source block dedicated buffer, I press `[C-c C-c]` on SQL statement line to eval. But

[2018-11-08 09:09] stardiviner opened #55 "[C-c C-c] can't evaluate SQL statement"
Here is my steps to reproduce this issue:

[code]

1. `[M-x ejc-connect RET PostgreSQL RET]` to launch a new ejc-sql REPL session.
2. In another Org Mode file buffer, open a sql source block like this:

[code]

3. In the opened source block dedicated buffer, I press `[C-c C-c]` on SQL statement line to eval. But it shows warning: `Run M-x ejc-connect first!`.

[2018-11-08 10:30] kostafey commented on #55
Database-connection info is buffer-local. So, to get a possibility to eval SQL statements from
any new buffer, you should run `M-x ejc-connect` inside this buffer. No new REPL will launch in this case (if started already), it will add only database connection information. Different buffers can connect to different databases (even different database types). All connection-related data (e.g. databas

[2018-11-08 11:54] stardiviner commented on #55
But it have to start a new REPL for every new opened source blocks everytime. This is not convinient. I also tried `ejc-connect-existing-repl`. It create a sibling REPL or something else. But it can't use `[C-c C-c]` neither. I think I only need to create one new REPL, and use `ejc-connect-existing-repl` for all new buffers.
I checked the `ejc-connect` source code, I think might can extract the se

[2018-11-08 13:19] kostafey commented on #55
You have not. Once again. If you connected to nREPL with `ejc-sql` project (your Emacs has buffer like `*nrepl-server...ejc-sql...*`), than any time you run `ejc-connect`, no new nREPL should be started. It will add  buffer-local vars with database-connection info to this buffer. Only. If not (and you see starting new REPL every time), this is either `ejc-sql` bug, or you are doing something unext

[2018-11-08 23:17] stardiviner commented on #55
Yes, that's what I want.

About the `ejc-connect`. I will try again. Thanks for your explaination. This sentence is clear than upper comment.

[2018-11-09 00:08] stardiviner commented on #55
I tested, `ejc-connect` did link to existing database-connection. This is great.

[2018-11-09 00:11] stardiviner commented on #55
Oops, close issue by accidently.
I can use `[C-c C-c]` now, but it does not gives out result, it seems always running:

![image](https://user-images.githubusercontent.com/378699/48235019-fc59be80-e3f6-11e8-83fd-9fc7e0649d82.png)

[2018-11-09 00:44] stardiviner commented on #55
I dive into the source code of `ejc-eval-user-sql-at-point` with edebug.
And invoke `(ejc-eval-user-sql-at-point :sync)` in buffer. It returns:
[code]

[2018-11-09 00:52] stardiviner opened #56 "ejc-sql auto-complete error"
Here is my configuration:
[code]

After `ejc-connect`, I input `sel` I got error in auto-complete:

[code]

[2018-11-09 00:56] stardiviner commented on #56
Is it because I use `MySQL-db-test`? My Arch Linux uses MariaDB to replace MySQL. I tried use `:dbtype "mariadb"`. But it is not recognized. So I still use `:dbtype "mysql"` for My MariaDB server. So I got upper error exception.

[2018-11-09 14:17] kostafey opened #57 "Autocomplete inside brackets"
Autocomplete inside brackets
[code]

[2018-11-09 19:31] kostafey commented on #57
Fixed.

[2018-11-09 19:31] #57 closed

[2018-11-09 20:50] kostafey commented on #56
@stardiviner Could you check it with the latest update, please?

[2018-11-10 10:48] stardiviner commented on #56
I installed updated version package.
Then raised another error:
[code]

[2018-11-10 10:58] stardiviner commented on #56
I'm sure my mysqld.service is started and port is 3306.

[2018-11-10 11:13] stardiviner commented on #56
I restarted MySQL daemon. It works correct now.

[2018-11-10 11:13] #56 closed

[2018-11-11 02:59] stardiviner opened #58 "don't call (sql-mode) to invalid Org Babel source block [C-c '] to exit"
`ejc-configure-sql-buffer` will execute `(sql-mode)`. change Babel source block \`major-mode'. Then when I press `[C-c ']` to exist sql source block will be invalid.

add a if condition to detect whether current buffer is in source block editing dedicate buffer. Because SQL source block is `sql-mode` already, so no need to invoke `sql-mode` again.

[code]

If you accept this patch, I will add an P

[2018-11-11 03:00] stardiviner opened #59 "Feel suspend when input first character for completion"
because `auto-complete`'s `ac-sources` iterate over all ac-source list functions.

-   ejc-columns-candidates
    -   ejc-get-prefix-word
-   ejc-tables-candidates
-   ejc-owers-candidates
-   ejc-get-ansi-sql-words

I noticed `ejc-get-prefix-word` function is invoked everytime ac-source function like `ejc-columns-candidates` called with *macro* `ejc-candidates`. Why not cache it to speed up? Beca

[2018-11-11 03:01] stardiviner opened #60 "use an option to control input uppercase candidates or not"
Here is the implementation, if you want, I can send PR:

[code]

[2018-11-11 19:48] kostafey commented on #60
It's ok, please make a Pull request for it.

Furthermore, pleace write
[code]
instead of
[code]
that's my outdated code... :)

[2018-11-11 21:08] kostafey commented on #58
It's ok, please add Pull request for it.

[2018-11-11 23:43] #60 closed

[2018-11-14 11:52] kostafey opened #63 "Add ElDoc for stored procedures & queries"
Add ElDoc for stored procedures & queries.

[2018-11-25 14:49] kostafey commented on #53
Done.

[2018-11-25 14:49] #53 closed

[2018-11-26 16:51] kostafey opened #64 "Autocompletion for columns of views"
Autocompletion for columns of views.

[2018-11-28 16:23] matteoredaelli opened #65 "No implementation of method: :as-file of protocol: #’clojure.java.io/Coercions found for class: java.lang.Boolean clojure.core/-cache-protocol-fn"
When trying to connect to a database with "ejc-connect" I get

Starting nREPL server for ejc-sql...
[nREPL] server started on 45811
[nREPL] Establishing direct connection to localhost:45811 ...
[nREPL] Direct connection to localhost:45811 established
Started.
clomacs-get-result: IllegalArgumentException No implementation of method: :as-file of protocol: #’clojure.java.io/Coercions found for class:

[2018-11-29 10:21] kostafey commented on #65
Could you please provide you connection configuration (with mangled username and password)?

[2018-11-29 13:21] matteoredaelli commented on #65
(ejc-create-connection
 "Oracle-patriot"
 :classpath (concat "~/.m2/repository/com/oracle/jdbc"
                     "/ojdbc8/12.1.0.2/ojdbc8-12.1.0.2.jar")
 :user "myuser"
 :password "mypwd"
 :dbtype "oracle"
 :dbname "PATRIOT"
 :host "patriot.redaelli.org"
 :port "1565"
 :separator "/")

matteo@debian:~$ ls -l ~/.m2/repository/com/oracle/jdbc/ojdbc8/12.1.0.2/ojdbc8-12.1.0.2.jar
-rw-r--r-- 1 matt

[2018-12-18 14:37] kostafey opened #66 "Handle slashes in comments"
Handle case:
[code]

[2018-12-20 09:31] stardiviner commented on #55
@kostafey Hi, any update on this issue?

[2018-12-24 19:57] kostafey commented on #55
@stardiviner Ok, lest figure out what we expect here.
First pleace, update ejc-sql, and try with new version from master.

1. Problem - infinite evaluation run of expression:
[code]
Unfortunately, I can't reproduce it at all (tested with H2 and MySQL databases).
Any time I receive tables list as expected.
Could you confirm that problem persists for your MySQL database?

2. Use ejc-sql for block de

[2018-12-25 06:32] stardiviner commented on #55
About the first problem, I tried the latest version code. I pull from your `master` branch. The latest commit is `17b633f7308d1f814eec141f46189e70effb3a5d`

[2018-12-25 07:36] stardiviner commented on #55
About the first problem, I tried the latest version code. I pull from your `master` branch. The latest commit is `17b633f7308d1f814eec141f46189e70effb3a5d`

Here is my config:
[code]

And here is my Org file contains steps of reproducing my problem.
I combined two "MySQL/MariaDB" and "PostgreSQL" reproduce steps into one file.
https://gist.github.com/stardiviner/7243e6c4a6ad4843304e796149f32c04

A

[2018-12-25 12:54] kostafey commented on #66
Done.

[2018-12-25 12:54] #66 closed

[2019-01-04 21:40] kostafey commented on #55
1. Problem - infinite evaluation run of expression.
I can't reproduce it anyway, **BUT**...
I've made some investigation of it. There are 2 probable cases leads to *"infinite"* evaluation run:
* An error when Clojure calls to Elisp (to notice Emacs about the end of SQL query evaluation).
* An error in Java SQL query evaluation thread itself.

So, please update `ejc-sq` and `clomacs` packages and t

[2019-01-06 12:32] stardiviner commented on #59
I don't know why, the latest version of ejc-sql does not have this problem. If I meet this problem again. I will re-open this issue.

kostafey, Thanks for your great work!

[2019-01-06 12:32] #59 closed

[2019-01-06 18:22] #52 closed, assigned to nobody

[2019-01-06 18:24] kostafey opened #67 "Add company completion frontend"
Try company completion frontend:
http://company-mode.github.io/

[2019-01-07 09:34] stardiviner commented on #55
With this latest fix commit, `[C-c C-c]` works now. Thanks for quick fix @kostafey .

[2019-01-07 09:34] #55 closed

[2019-01-16 09:00] stardiviner opened #70 "[Discuss] I'm wondering is it possible to support SQL keywords completion?"
Sorry for my poor SQL knowledge.

When using MySQL connection, I found ejc-sql auto-complete can't complete `USE` keywords. Then I checked out source code, found `ac-source-ejc-ansi-sql` backend. Then directed me to variable `ejc-ansi-sql-words`. It does not contains `use`. I checked ANSI SQL reserved keywords which does not include it too.
Then I know `use` is keyword in MySQL. But I use https://

[2019-01-16 16:10] kostafey commented on #70
Ok. It's possible to provide database-type specific autocompletion for keywords & functions.

[2019-01-16 23:18] stardiviner commented on #70
Great, thanks @kostafey

[2019-01-21 18:06] trisrael opened #72 "How do I debug?"
I've been getting this issue when attempting to connect to a PG connection:

`ejc-httpd-start: Wrong type argument: symbolp, (gensym "require")`

Whereas in older versions it worked fine, but even when I go back to them now they break.
I've went through the install steps again, and updated all my jdbc drivers but I am still getting this issue.

Do you have any suggestions on how to debug the issue

[2019-01-22 00:17] stardiviner commented on #70
This is really fast! Awesome, I will try today or tomorrow soon. And thanks.

[2019-01-22 10:20] kostafey commented on #70
@stardiviner oh, no, not yet ;). It's a simply **incomplete** attempt of one of the approaches. It's not in `master` and will be **completely** rewrited. Please, hold on :).

[2019-01-22 12:35] stardiviner commented on #70
Oh, Aha, it's fine. :)

[2019-01-26 08:40] stardiviner opened #73 "connect to SQLite database error"
I define a SQLite connection with this:

[code]

Then I connect it with `ejc-connect`, got error:
[code]

The CIDER repl buffer is normally started. Then I type SQL in buffer, got error:

[code]

[2019-01-26 08:51] stardiviner commented on #73
I re-checked the README, I have not found the SQLite connection definition example, I remember this example is from somewhere issue which you give if I remember correctly.  But I found H2 use `file://` in `:subname`. So I tried that. But failed:

[code]
From the exception, I can see, it's ejc-sql does not support `file://` uri because it report `’/home/stardiviner/.emacs.d/elpa/ejc-sql-20190124.19

[2019-01-26 15:09] kostafey commented on #72
Stable versions: `ejc-sql 0.2`, `clomacs 0.03`.

[2019-01-26 15:09] #72 closed

[2019-01-26 19:07] kostafey commented on #70
@stardiviner ok, I've added database-specific keywords support for the following databases:
* Oracle
* PostgreSQL
* H2
It's in `master` branch now.
Please, note, you should provide access to `mysql.help_keyword` table for MySQL databases (if your db user is not `root`): https://github.com/kostafey/ejc-sql#mysqlconnection

[2019-01-26 19:48] kostafey commented on #73
@stardiviner, I've added SQLite example to README, please, check it:
https://github.com/kostafey/ejc-sql#sqlite-connection

[2019-01-27 01:11] stardiviner commented on #73
@kostafey It still report error:
[code]
I've pulled latest commit from upstream, and restarted Emacs. still same. I make sure `/tmp/test.db` is workable. I can work on it with command `sqlite3`.
Also I have followed your README connection definition:
[code]

[2019-01-27 01:41] stardiviner commented on #70
Wow! @kostafey , I have no words to express my thanks. If could, I would buy you a beer. :)

Confirmed MySQL keywords completion.
When I test postgresql keywords completion. I got error when start postgresql connection.
[code]

[2019-01-27 12:52] kostafey commented on #70
Ok, you run `ejc-connect` and fail with this error. Looks like it's not related to this issue. So, please:
1. Try the latest PostgreSQL JDBC driver version.
2. Open new issue.
3. Provide your connection configuration (with mangled username & password).

[2019-01-27 18:04] kostafey commented on #73
Ok, I've reproduced the first bug
[code]
The reason - outdated JDBC driver `~/.m2/repository/sqlitejdbc/sqlitejdbc/0.5.6/sqlitejdbc-0.5.6.jar`,
so, using `~/.m2/repository/org/xerial/sqlite-jdbc/3.23.1/sqlite-jdbc-3.23.1.jar` solves it.

The secon is a bit more tricky.
[code]
Actually, I can't reproduce it in both Linux and Windows PCs. **ALL** this paths works well:
for Linux
* `/tmp/test.db`
* `

[2019-01-27 20:32] kostafey commented on #51
Can't reproduce any problems for empty (without any tables) SQLite database.

[2019-01-27 20:32] #51 closed

[2019-01-28 11:03] #70 closed

[2019-01-28 11:51] stardiviner commented on #73
I search Maven for sqlite driver for the latest version. Also tried your version in upper comment.
Still can't connect correctly. Is there more information I can debug or troubleshooting?

here is my connection:
[code]

And my environment:
- System: Arch Linux
- SQLite: `3.26.0 2018-12-01 12:34:55 bf8c1b2b7a5960c282e543b9c293686dccff272512d08865f4600fb58238b4f9`
- ejc-sql: latest commit from sourc

[2019-01-28 11:53] stardiviner commented on #73
Also, I'm sure there's no weird whitespace char. I re-edited the connection. I'm sure Emacs buffer is UTF-8/unix encoding.

[2019-01-28 14:15] stardiviner opened #75 "Can't connect to PostgreSQL"
I tried different version postgresql drivers:

This is the default from README, I checked it from clojars.com, but it declares
that this driver is not officially,

[code]

[code]

So I followed it's link to Maven search get this latest version:

[code]

[code]

I also found this one:

[code]

[code]

So, none of those drivers works.

Environment info:

- System: Arch Linux
- PostgreSQL: PostgreSQL

[2019-01-28 14:17] stardiviner opened #76 "Can't connect to PostgreSQL"
I tried different version postgresql drivers:

This is the default from README, I checked it from clojars.com, but it declares
that this driver is not officially,

[code]

[code]

So I followed it's link to Maven search get this latest version:

[code]

[code]

I also found this one:

[code]

[code]

So, none of those drivers works.

Environment info:

- System: Arch Linux
- PostgreSQL: PostgreSQL

[2019-01-29 07:09] stardiviner commented on #75
Seems duplicated cause of network issue.

[2019-01-29 07:09] #75 closed

[2019-02-06 20:37] alf-mindshift opened #77 "Version of org.apache.commons/commons-lang3 conflicts with com.microsoft.azure/adal4j"
Because I need to use the Azure Active Directory Authentication feature in sqlserver, I need to include the adal4j package as per https://docs.microsoft.com/en-us/sql/connect/jdbc/feature-dependencies-of-microsoft-jdbc-driver-for-sql-server?view=sql-server-2017.

Unfortunately this doesn't work out of the box with ejc-sql because ejc-sql depends on an older versjon of commons-lang3 which shadows t

[2019-02-06 20:46] kostafey commented on #77
@alf-mindshift, please, make a pull request for that.

[2019-02-06 21:20] #77 closed

[2019-02-10 21:16] kostafey commented on #73
@stardiviner ok, everything shows you use outdated SQLite JDBC driver.
The actual driver even doesn't have `org.sqlite.Conn` class at all, see https://github.com/xerial/sqlite-jdbc, whereas some outdated do: https://github.com/boundlessgeo/sqlite-jdbc.

You can check you actual JDBC driver URL by <kbd>M-x eval-expression [RET] ejc-db [RET]</kbd> in your `ejc-sql` connected buffer. If it's ok, prob

[2019-02-10 22:07] kostafey commented on #76
I've got the same error `org.postgresql.jdbc4.Jdbc4Connection.isValid(int) is not yet implemented` for
this outdated version of JDBC driver:
`"~/.m2/repository/postgresql/postgresql/9.1-901-1.jdbc4/postgresql-9.1-901-1.jdbc4.jar"`
but there are no errors for the new one:
`"~/.m2/repository/postgresql/postgresql/9.3-1102.jdbc41/postgresql-9.3-1102.jdbc41.jar"`

Probably, you don't restart REPL afte

[2019-02-11 09:07] stardiviner commented on #73
I did tried the latest version of the driver. And I also tried restart Emacs. Still does not work and report error:
[code]
I'm sure I can connect and login with other clients.

[2019-02-11 09:11] stardiviner commented on #76
I did tried the latest version of the driver. And I also tried restart Emacs. Still does not work. I'm sure I can connect and login with other clients.
[code]

[code]

[2019-02-11 10:50] kostafey commented on #76
Please, update `ejc-sql` from `master`. If your JDBC driver does not implement `isValid`, you will receive a warning, but still can execute queries.
Also, please show the result of `lein version` produced in a command line.

[2019-02-11 12:47] stardiviner commented on #76
Here is the result of `lein version`

[code]

[2019-02-11 13:34] stardiviner commented on #76
I have not realized that. As long as it still can execute queries. This is great. Thanks.

[2019-02-11 13:34] #76 closed

[2019-03-08 10:52] kostafey commented on #54
@stardiviner, could you please confirm that it's workes as expected?

[2019-03-08 11:03] kostafey commented on #73
@stardiviner, looks like the same story as in PostgreSQL https://github.com/kostafey/ejc-sql/issues/76. You should receive a warning but still can execute queries.

Furthermore, look. It's a simple Clojure app. You can deal with it as an ordinary project via CIDER.
1. Run `M-x ejc-connect <RET> my-connection <RET>`.
2. Open `connect.clj` file (in `~/.emacs.d/elpa/ejc-sql-<version>/src/ejc_sql/conn

[2019-03-08 12:22] stardiviner commented on #54
@kostafey Confirmed latest async commit works for me. Awesome. This is really a big step I feel. And thanks for your work. (I saw you recently keep updating clomacs and ejc-sql in GitHub feeds.)

[2019-03-08 12:22] #54 closed

[2019-03-09 05:52] stardiviner commented on #73
I got `true` from CIDER nREPL buffer with evaluate upper clojure s-exp. But in the Org buffer I run command `ejc-connect` return error:
[code]

This is where I don't understand. Why CIDER nREPL buffer has value of atom `db`, but in Org buffer, it is void?

UPDATE:

I suddenly figured out that the `db` is in `ejc-sql.connect` namespace, so I added `ns` declaration in source block. Problem solved. T

[2019-03-09 06:15] stardiviner commented on #73
For PostgreSQL driver:
I can get `@db` connection info after `cider-load-buffer` of `connect.clj`.
I got backtrace of `.isValid` s-exp:
[code]

[2019-03-09 10:38] stardiviner commented on #73
Maybe I should propose those driver source code repo to implement this? I found PostgreSQL driver repository here https://github.com/pgjdbc/pgjdbc-jre7/

[2019-03-11 21:25] alf-mindshift opened #82 "Support for Azure SQL"
Auto complete is broken when using ejc against Azure SQL. The reason is that the function [ejc-sql.structure/get-ms-sql-server-version](
https://github.com/kostafey/ejc-sql/blob/c5e43a56c983268d9360b9c0e7622c04a2f860e5/src/ejc_sql/structure.clj#L55) does not recognise the version string from Azure SQL Server, which reads  `"Microsoft SQL Azure (RTM) - 12.0.2000.8 \n\tDec 19 2018 08:43:17 \n\tCopyr

[2019-03-12 14:12] kostafey commented on #73
@stardiviner the repo, you provided is just a **Build script** for PostgreSQL driver, not the driver by itself. Ok, are we talking about PostgreSQL or SQLite? :). Anyway, look, accidentally, you use an outdated driver for both PostgreSQL & SQLite cases. Here is a PostgreSQL JDBC driver repo: https://github.com/pgjdbc/pgjdbc

An exception you fail into leads to `org.postgresql.jdbc4` package - it's

[2019-03-12 14:17] kostafey commented on #82
Fixed with Pull-request.

[2019-03-12 14:17] #82 closed

[2019-03-13 00:54] stardiviner commented on #73
Ahh, sorry, I put this comment on wrong issue. Because I have same void `.isValid` on both SQLite and PostgreSQL driver. So ...

I found that *Build script* which is a link from Maven search "https://search.maven.org/" artifact.
I install the PostgreSQL JDBC driver following your command in README:

Now I used your given repository's link https://maven-badges.herokuapp.com/maven-central/org.postgr

[2019-03-13 00:57] stardiviner commented on #73
Before restart Emacs, I upgrade Emacs packages including `ejc-sql`. Might from there. I will test it out using ejc-sql local cloned source code.

[2019-03-13 02:14] stardiviner commented on #73
After check out old `ejc-sql` commit, `clomacs` commit, and `postgresql-42.1.4.jar` driver. Still report same error "No suitable driver found for ...". Now, when I re-use outdate PostgreSQL driver `.m2/repository/postgresql/postgresql/9.3-1102.jdbc41` which used to work. But it report this error too now.
Unless I missed some steps in my testing. Mostly I think the problem is on recently updating.

[2019-03-14 23:46] kostafey commented on #73
No. JDBC driver in your `~/.m2/` folder is just a file(s). You can hold all versions of all drivers without interaction and side-effects among them.

The error message
```clomacs-get-result: SQLException No suitable driver found for jdbc:postgresql:```
means that there is no real driver file stored somewhere in your PC, with a path in `:classpath` param of `ejc-create-connection` function call.

O

[2019-03-15 04:30] stardiviner commented on #73
Still get same error, here is the backtrace after toggled `debug-on-error`:

[code]

[2019-03-15 05:16] stardiviner commented on #73
The files did exist:

[code]

[2019-03-15 13:35] kostafey commented on #73
Ok. let's dig a bit deeper. There are 2 probable causes of this error (https://confluence.atlassian.com/jirakb/postgresql-java-sql-sqlexception-no-suitable-driver-found-828780512.html). So, let's discover both of them:

1. JDBC driver is not loaded.
To check it out, please open `connect.clj` file of `ejc-sql` project **after** your run `ejc-connect` (and fail into this error). Then type:
[code]
an

[2019-03-15 23:18] stardiviner commented on #73
Seems both of upper code result has problems.

First one code:
I evaluate this org source block using opened ejc-sql session repl.
[code]
I use Emacs isearch check out results, have not found postgresql.

Second code result is `jdbc::/localhost:5432/test`. Seems `postgresql` is missing in connection URL.

[2019-03-17 13:07] kostafey commented on #73
The second problem is not a problem at all since I obtain the same JDBC connection URL for PostgreSQL databases and it **works well**. If you want to see vendor name in this URL, you can add
`:subprotocol "postgresql"` to `ejc-create-connection` function call.

The first problem is really cases this error.
To obtain the real classpath `ejc-sql` attempted to add, you should open your conneted buffe

[2019-03-17 23:23] stardiviner commented on #73
`(alist-get :classpath ejc-db)` give out `"/home/stardiviner/.m2/repository/org/postgresql/postgresql/42.2.5.jre7/postgresql-42.2.5.jre7.jar"`. This is correct.

After running `pomegranate/add-classpath`, and check out classpath again. the postgresql driver still not in classpath. So this is the problem.

I tried to upgrade `pomegranate` version. I saw in my classpath it's using ` #object[java.net

[2019-03-17 23:24] stardiviner commented on #73
Might Java version problem caused `pomegranate` failed? But's I'm still using Java 8:
[code]

[2019-03-17 23:32] stardiviner commented on #73
Might can consider like CIDER method, manually specific Clojure libraries version in cider-jack-in parameters?

[2019-03-19 10:25] stardiviner opened #85 "ejc-sql error on Java 11"
I switch to Java 11 today, I start ejc-sql got this error:
[code]

Then I google it. Found it's because Java 9 restructuring of `sun.misc` etc. like this https://github.com/tobias/dynapath/issues/5 and this https://github.com/technomancy/leiningen/issues/2149

I don't know whether `ejc-sql` require on it. But still post issue here for now.

[2019-03-19 10:31] kostafey opened #86 "Keep output results ring"
Keep output results ring.

[2019-03-19 10:40] kostafey commented on #85
Actually, pomegranate depends on `dynapath`.

[2019-03-19 10:50] kostafey commented on #73
@stardiviner, I fall into error with the newest `pomegranate "1.1.0"` for JDK 8 (see https://github.com/cemerick/pomegranate/issues/97). That's why I use an outdated one for `ejc-sql` - `pomegranate "0.3.0"`.
So, the reason for this error is enforced `pomegranate` version in  `~/.clojure/deps.edn` and `~/.lein/profiles.clj` files. Ok.

But what about the original issue problem? Could you succesful

[2019-03-19 12:28] stardiviner commented on #73
After test again, that `.isValid` issue is gone. Both SQLite driver and PostgreSQL driver. (on Java 8)

BTW, I have a question, does `ejc-sql` re-use previous started CIDER connection? I found when I first start PostgreSQL connection, then start SQlite connection, the second connection quickly finished. I found indeed only has one ejc-sql REPL process buffer. This is great! I have not realized thi

[2019-03-19 12:32] stardiviner commented on #73
I reviewed this issue conversation, and my Org recording about this issue, have not found any clue about how this is solved. about PostgreSQL Driver I guess because you give me the newest version driver. About SQLite driver, I don't know why.

[2019-03-19 12:37] stardiviner commented on #85
I will find out time to test out, currently my Arch Linux has OpenJDK 8, OpenJDK 10, OpenJDK 11 installed, I will test fomr `pomegranate` version.

[2019-03-20 06:25] stardiviner commented on #85
Here is my testing result:

-   [X] Java 11 + pomegranate 1.1.0

    [nREPL] Starting server via /home/stardiviner/bin/lein update-in :plugins conj \[cider/cider-nrepl\ \"0.21.2-SNAPSHOT\"\] -- repl :headless :host localhost...
    Starting nREPL server for ejc-sql...
    [nREPL] server started on 46113
    [nREPL] Establishing direct connection to localhost:46113 ...
    [nREPL] Direct connection

[2019-03-20 11:55] stardiviner opened #87 "ejc-sql's internal pomegranate conflict with extra injected pomegranate library"
I have following line:

[code]
This will auto inject `pomegranate` in CIDER jack-in. But ejc-sql have `pomegranate` internal. They're duplicate and conflict.
Once I use it, `ejc-connect` will fail.

Because I use `pomegranate` in other CIDER usage scenero, so is there a solution to solve this problem?

[2019-03-21 10:38] kostafey opened #88 "Handle separate frame for results buffer case"
Handle separate frame for results buffer  case.

[2019-03-21 10:53] kostafey commented on #88
Done.

[2019-03-21 10:53] #88 closed

[2019-03-21 14:03] kostafey opened #89 "Disable undo for *ejc-sql-output* buffer"
Disable undo for `*ejc-sql-output*` buffer.
[code]

[2019-03-24 09:28] stardiviner commented on #87
@kostafey Did you got same problem on your machine?

[2019-03-25 07:44] stardiviner commented on #73
I will close this issue at first. If this issue recur I will re-open this issue.

[2019-03-25 07:44] #73 closed

[2019-03-25 07:51] stardiviner commented on #85
Hi @kostafey can you provide a more advanced and deeper debugging or troubleshooting manual on README or GitHub Wiki? I want to help on this.

[2019-03-25 09:34] kostafey commented on #89
Done.

[2019-03-25 09:34] #89 closed

[2019-03-25 10:33] kostafey commented on #85
Hello! What do you really want to debug? :)
* If you mean `pomegranate`, you can create new Clojure project, e.g. `lein new myapp` and test for new classes of jars dynamically added to `classpath` is available in the REPL. Ok, I'll dig into this soon.
* If you mean `ejc-sql` by itself, you can consider it a simple Clojure project. If you have experience with Leiningen and CIDER - it shouldn't be a

[2019-03-25 12:49] stardiviner commented on #85
I will check them out, actually my Clojure skill is not that good. I especially need to understand the clomacs. I will try your said tonight. Thanks.

[2019-03-25 14:32] stardiviner commented on #85
I did `lein new myapp`, and CIDER jack-in, then add pomegranate into project profile. Then:

[code]

[2019-03-25 23:21] kostafey commented on #86
Done,

[2019-03-25 23:21] #86 closed

[2019-03-26 08:00] stardiviner commented on #85
After checked out some "dynapath Java 9" google results.
Some results might helpful:
- https://github.com/tobias/clojure-java-9/issues/3
- https://github.com/tobias/dynapath/issues/12

Then I specify `dynapath` and `pomegranate` dependencies version in Leiningen global `profiles.clj`.
[code]

Then I got another error:
[code]
But ejc-sql connection still started.
Then I try eval sql Org source bloc

[2019-03-26 13:12] kostafey opened #91 "Keep cursor position for ejc-show-prev-result"
Keep cursor position for ejc-show-prev-result.

[2019-04-01 11:47] kostafey commented on #87
@stardiviner Could you tell me more about your use case of `pomegranate "1.1.0"` as  CIDER jack-in parameter? I've tested it and it isn't' work for any version of JDK for me.

[2019-04-03 01:08] stardiviner commented on #87
I use it for `Incanter`. I use it in work. I original want to load it by default in `cider-jack-in-dependencies`. But it's slow and might cause other weird problem. So I load it manually through `pomegranate`.

[2019-04-03 11:27] kostafey commented on #87
And it really works for you? So, you use `pomegranate "1.1.0` and `cemerick.pomegranate/add-classpath` or `cemerick.pomegranate/add-dependencies` and it actually updates your classpath? What is your JDK version?

[2019-04-03 12:39] stardiviner commented on #87
Yes, Incanter actually loaded. and I actually draw an plot image. I'm using JDK 8.

[2019-04-03 12:41] stardiviner commented on #87
Here is my deps.edn
[code]

And my CIDER config:
[code]

And steps to reproduce:
[code]

[2019-04-03 13:20] EOtrade opened #92 "Unable to execute update statement"
After connecting to PostgreSQL database, I can execute select statements, but any update statement produce error:
[code]

My configuration:
[code]
Emacs version: GNU Emacs 26.1 (build 1, x86_64-pc-linux-gnu, GTK+ Version 3.24.7) of 2019-03-17

[2019-04-03 13:31] kostafey commented on #92
Could you provide a full stack trace, please (by enabling `M-x toggle-debug-on-error`)?
Also, please show your leiningen & java versions (via `lein version`).

[2019-04-03 13:36] EOtrade commented on #92
[code]
[code]
`toggle-debug-on-error` doesn't change anything. I got popup:
![image](https://user-images.githubusercontent.com/38114182/55483096-97656600-562e-11e9-9802-8fea16d7af10.png)

[2019-04-03 14:25] rrudakov commented on #92
I tried both, from `org-mode` and from `ejc-get-temp-edit-buffer`. In master I still can reproduce the issue.

p.s: Wrote from another account

[2019-04-03 16:45] kostafey commented on #92
Looks like, you query is considered as resulted with `:result-set`. Probably, we face here with `select for update` case or something like that. The actual code used to determine whether this SQL should have a result set or not is damn trivial:
https://github.com/kostafey/ejc-sql/blob/master/src/ejc_sql/connect.clj#L121

Could you check it out? The actual debug process is simple. `ejc-sql` can be

[2019-04-03 18:51] rrudakov commented on #92
I'm not sure I've done everything correct:
[code]

[2019-04-04 10:20] kostafey commented on #92
What about direct evaluation:
[code]

[2019-04-04 10:54] rrudakov commented on #92
[code]

[2019-04-04 11:31] kostafey commented on #92
1. Ok, first of all, please update `ejc-sql` from `master`. It uses `org.clojure/java.jdbc` from upstream.
2. Then please try the newest connection configuration parameters:
[code]
3. Also, you can try the newest PostgreSQL JDBC driver:
[code]
then update `ejc-create-connection`:
[code]
4. If no luck with previous steps, it's worth to try run JDBC without [clojure/java.jdbc](https://github.com/clo

[2019-04-05 08:49] rrudakov commented on #92
Seems like it works now. Thank you very much.

[2019-04-05 10:17] kostafey commented on #92
You are welcome. Feel free to ask about `ejc-sql` usage and feature requests.

[2019-04-23 00:17] kostafey commented on #65
Looks reproduced by
[code]
[code]

1. `project.clj`:
[code]
2. `Leiningen 2.9.1 on Java 1.8.0_131 Java HotSpot(TM) 64-Bit Server VM`

[2019-05-02 22:43] kostafey commented on #65
Looks dublicate https://github.com/kostafey/ejc-sql/issues/87

[2019-05-02 22:43] #65 closed

[2019-05-02 22:45] kostafey commented on #87
No Pomegranate dependency at this moment.

[2019-05-02 22:45] #87 closed

[2019-05-02 22:46] kostafey commented on #85
@stardiviner could you check with the lastest commit, please. It's tested with `JDK 8` and `JDK 12`.

[2019-05-03 04:08] stardiviner commented on #85
I tested with JDK 8 and JDK 11.
For JDK 11. It works fine now. I got other warning but I think not relative with ejc-sql.
[code]

On JDK 8.
Here is the error:

tested new add-classpath on **JDK 8**

Here is the log displayed in `*Messages*` buffer.

    Connection started...
    [nREPL] Starting server via /home/stardiviner/bin/lein update-in :dependencies conj \[criterium\ \"0.4.4\"\] -- update-i

[2019-05-05 22:16] kostafey commented on #85
@stardiviner, unfortunately, I can't reproduce it on any JDK 8 and Windows/Linux PCs.
Could you please try to checkout the `classpath` branch and try it. Actually, it uses old Pomegranate 0.3.0 code for JDK 8. So, it should work for JDK 8 and JDK 9+.
https://github.com/kostafey/ejc-sql/commit/3b9972d0808e1a7ac2308aa6b8f1e9d5ebb5345f

[2019-05-06 14:25] stardiviner commented on #85
Confirm fixed in branch `classpath`. :)

[2019-05-06 17:38] kostafey commented on #85
Cool ;). Merged to `master`.

[2019-05-06 17:38] #85 closed

[2019-05-07 08:45] rrudakov opened #93 "Symbol’s function definition is void: :done"
After executing every query I see the error in echo area:
[code]

The issue can be solved by deleting ~/.emacs.d/elpa/ and reinstall all packages.

I've tried to clean /tmp dir, it doesn't help.

Emacs version: GNU Emacs 26.2 (build 1, x86_64-pc-linux-gnu, GTK+ Version 3.24.8) of 2019-04-12

Package version: latest from MELPA.

[2019-05-09 19:24] alf-mindshift opened #94 "Replacing " with ' causes issues when playing with JSON"
Running the following query (in Azure SQL Server, but other vendors have similar functionality that should suffer the same problems):

[code]
I get: ```Error: Incorrect syntax near 'a'.```

By commenting out [ejc-interaction.el#L60](https://github.com/kostafey/ejc-sql/blob/eee730ec8f79d97f38f5a658d6ba8551326ff885/ejc-interaction.el#L60) I get the following result running the exact same query:

[co

[2019-05-11 13:50] kostafey commented on #94
Fixed.

[2019-05-11 13:50] #94 closed

[2019-05-11 14:26] kostafey commented on #93
The only place `:done` is used in Elisp https://github.com/kostafey/ejc-sql/blob/master/ejc-sql.el#L494
I guess the problem was because of more than one different versions of the package(s) located in `~/.emacs.d/elpa/`. Sometimes it happens because of errors during the packages update process (if older ones did not deleted).
Could you confirm that the issue is not reproducible anymore?

[2019-05-11 15:57] rrudakov commented on #93
I've removed `~/.emacs.d/elpa/ejc-sql-20190511.1347` directory, then reinstall package from MELPA. Buy it still reprodusable.

[2019-05-11 18:14] kostafey commented on #93
@rrudakov could you please provide the full stack trace by run `M-x toggle-debug-on-error [RET]` first.

[2019-05-12 07:21] rrudakov commented on #93
After updating to the latest version, seems like it's not reproducible anymore. Thank you.

[2019-05-12 21:19] #93 closed

[2019-05-23 11:11] alf-mindshift opened #95 "Order of columns does not follow query specification"
The output from running queries using ejc-sql does not honor the ordering of the column specification in the SQL query.

This is annoying as I often want to see the result with a specific column ordering.

The offending code seems to be the call to` java.jdbc/query` from `connect/eval-sql-core`:

[code]

Since we ask for the results as a list of maps and since clojure maps are not ordered we lose

[2019-05-23 12:27] kostafey commented on #95
I can't reproduce the issue and always get correct columns order. Looks it depends on Java and Clojure versions and it's `map` implementations. The early versions of `ejc-sql` operated with arrays, but then this behavior was changed. See this commit: https://github.com/kostafey/ejc-sql/commit/28cc15c2466f2c5330ab3621d21cdbd27e86b533#diff-1b8a1c68c41c80c9d77345e762488666L88
You will need a bit diff

[2019-05-23 12:53] alf-mindshift commented on #95
For information I'm on Java 1.8.0 and clojure version 1.9.

[2019-05-24 12:34] alf-mindshift commented on #95
See #96. Please do look at it properly as I can't guarantee that I've thought about all conditions.

It works for me, but YMMV.

[2019-05-24 17:51] alf commented on #95
Discovery a bug in the implementation and will fix this and clean up the print-table function a bit.

Would you mind if I sneak in a feature while I’m at it? I sometimes find it would be nice to return a transposed (rotated) result. I usually just copy the table to org-mode and transpose it there, but having this directly would be nice and easy to implement.

I suggest using the universal argument

[2019-05-24 18:47] kostafey commented on #95
Sure, it's completely acceptable. A single-record result is already transposed to improve result readability. Probably, we can do it for any number of records based on additional argument.

[2019-05-24 19:33] alf-mindshift commented on #95
Just to add a bit more scope creep here. If we prepend and append a | to the table format, we'll match the org-mode table format. This grants us a huge amount of functionality for free from `org-table`.
Just to mention a few of these:

- easy table navigation using tab
- very powerful table export functionality
- table sorting and other manipulations
- table transposing
- etc

Of course, this requ

[2019-05-25 08:22] alf commented on #95
I will split this into two different issues and pull requests.

[2019-05-25 08:38] alf opened #97 "Leverage orgtbl-mode in ejc-results-mode"
By making a slight modification to the table formatting syntax used in `ejc-sql`, we can enable `orgtbl-mode` and gain a huge number of sophisticated functionality for post processing and browsing our query results.

The required change consist of prepending and appending a `|` to each line of the table.

Note that this change also aligns our format to the format used by the [print-table](https://

[2019-05-26 02:31] stardiviner commented on #97
This sounds interesting :)

[2019-05-27 06:00] alf opened #100 "Running SQL from org-mode fails when statement is indented"
The code for extracting the sql statement does not work correctly when the statement has leading white space.

I’ll submit a fix shortly.

[2019-05-27 10:39] #95 closed

[2019-05-27 12:58] kostafey commented on #97
Related comment: https://github.com/kostafey/ejc-sql/issues/95#issuecomment-495764463

The main advantage of the current implementation is simplicity.
You can fetch big amounts of data with trivial syntax highlight (`ejc-result-mode`). Big result sets can be fetched from query to query many times without huge memory consumption since there is no undo history.

There is another good table implement

[2019-05-27 13:44] kostafey opened #101 "Table description is broken by a new result set format"
Table description is broken by a new result set format.

[2019-05-28 21:46] kostafey opened #102 "Make password keep optional"
Make password keep optional. Add `:password-required t` to `ejc-create-connection` possible args.

[2019-05-29 01:41] stardiviner commented on #97
Emm, I agree. Sounds reasonable.

[2019-05-29 05:22] alf commented on #97
Just a follow up question regarding backwards compatibility. Does that include the table format or can I always include leading and trailing pipes?

[2019-05-29 07:29] rrudakov opened #103 "Unable to connect to database"
Since last update, when I'm trying to connect to database using `ejc-connect` I get error in echo area:
[code]

And connection doesn't establish.

[2019-05-29 07:32] rrudakov commented on #103
Turning on `toggle-debug-on-error` got the next output:
[code]

[2019-05-29 11:28] kostafey commented on #103
Fixed.

[2019-05-29 11:28] #103 closed

[2019-05-29 11:29] rrudakov commented on #103
Thanks a lot!)

[2019-05-29 12:29] kostafey commented on #97
The other reason to keep `ejc-result-mode` as major-mode independently of minor-mode.

I use `Meta-<arrow>` keys to navigate amoung windows:
[code]
It's especially useful with this function:
[code]
So, if you have many monitors, you can open `*ejc-sql-output*` buffer in the second Emacs frame on different monitor and jump by `M-right` & `M-left` amoung SQL edit buffer and result set table.

`orgtb

[2019-05-30 13:23] stardiviner commented on #97
Even though I don't have second monitor, but this configuration looks interesting. I will record it down. :)

[2019-05-30 22:48] kostafey commented on #29
Note: related pull request https://github.com/kostafey/ejc-sql/pull/84 (rejected but contains useful conversation).

[2019-05-30 23:14] kostafey commented on #29
@stardiviner, Ok looks like the feature is implemented.
See description in README: https://github.com/kostafey/ejc-sql#interactive-connection-creation
I hope that the creation process is simple enough that the user can be not familiar with Java & JDBC to configure a connection. The required JDBC driver will be automatically resolved and downloaded (if not yet) for the selected database type. Manua

[2019-05-31 13:28] stardiviner commented on #29
This is awesome!!! Thanks @kostafey. Much better than my simple and rough implementation.

[2019-05-31 13:28] #29 closed

[2019-05-31 13:30] stardiviner commented on #29
This is awesome!!! Thanks @kostafey. Much better than my simple and rough implementation.

[2019-06-05 19:35] alf-mindshift opened #105 "#103 breaks org-mode queries"
Unfortunately, the fix made for #103 breaks queries run with `sync` set to `true`. This is used when running ejc-sql through org-babel.

The reason seems to be that the adal4j-library used to authenticate against Azure SQL seems to log some info statements before the query result is returned.

[2019-06-06 07:29] alf-mindshift commented on #105
I've just manually reverted #103 for now, but I'll look into a proper fix to this and the other pending fixes I've promised when things are less busy at work.

[2019-06-09 14:10] #100 closed

[2019-06-09 20:23] kostafey commented on #97
Implemented.

[2019-06-09 20:23] #97 closed

[2019-06-17 17:33] kostafey commented on #49
Done.

[2019-06-17 17:33] #49 closed

[2019-06-19 12:36] kostafey opened #106 "Set-* variables forces Clojure backend start"
`ejc-set-rows-limit` in `.emacs` forces Clojure backend start on Emacs startup.

[2019-06-27 14:06] kostafey commented on #106
Fixed.

[2019-06-27 14:06] #106 closed

[2019-07-21 21:25] kostafey opened #107 "Handle stored procedures output"
Handle stored procedures output.

[2019-08-01 04:37] stardiviner opened #108 "can't provide new instantly created tables name"
When I start a new connection to PostgreSQL, ejc-sql can provide tables name completion on existing database. But when I instantly create new tables, ejc-sql can't complete them. Can ejc-sql support this feature?

[2019-08-01 08:42] kostafey commented on #108
ejc-sql do not interact with a database anytime autocompletion is required, it uses cache. So, the most straightforward solution is to clean the cache manually by `M-x ejc-invalidate-cache`. Then any new autocompletion request will recreate it.

But probably we should consider cleaning cache any time DDL queries successfully executed.

[2019-08-01 10:02] stardiviner commented on #108
If it does not affect performance much, I think that's a good idea.

[2019-08-04 23:09] kostafey commented on #39
Done.

[2019-08-04 23:09] #39 closed

[2019-08-05 13:21] kostafey opened #109 "Provide hint for stored procedures"
Provide hint for stored procedures if possible.

[2019-08-06 21:05] kostafey opened #110 "Describe log"
Describe log & add disable log option.

[2019-08-07 17:28] suryaaditya opened #111 "Cannot eval common table expression (CTE) SQL's"
observed we cannot eval sql's with CTE expressions, it would be helpful if you can enable as underlying driver, clojure jdbc supports the same.
eg:
[code]

[2019-08-09 08:52] stardiviner commented on #108
@kostafey Thanks for quick update, is it solved by the upper commit?

[2019-08-11 17:36] kostafey commented on #108
@stardiviner yes, now it's fixed and described.

BTW: if you use PostgreSQL or MySQL, you can try the newest feature: ElDoc support.

[2019-08-11 17:36] #108 closed

[2019-08-11 18:19] kostafey commented on #111
@suryaaditya Looks like there are no problems with Clojure JDBC CTE support.
But `ejc-sql` should categorize such queries as "SELECT" query. I've fixed it.

[2019-08-11 18:19] #111 closed

[2019-08-12 08:06] stardiviner commented on #108
@kostafey I checked out this fix, it works fine.
And the new feature ElDoc support is great!!! :+1:
I tested it works on SQL source code file, but not work on virtual Emacs buffer like dedicated opened Org source block buffer.

[2019-08-12 14:35] suryaaditya commented on #111
Got the latest code and confirm it is working now. Thanks for quick fix. ejc-sql has come a long way and it is very useful package indeed.

[2019-08-15 12:29] kostafey commented on #101
Fixed.

[2019-08-15 12:29] #101 closed

[2019-10-21 08:20] matteoredaelli opened #112 "(wrong-number-of-arguments (5 . 5) 1) clomacs-ensure-nrepl-run("ejc-sql")"
GNU Emacs 26.3 (build 2, x86_64-pc-linux-gnu, GTK+ Version 3.24.11)
 of 2019-09-22, modified by Debian

Th oracle jdbc is correctly installed

Below the log. I omitted the user, password and hostname of my oracle db

Debugger entered--Lisp error: (wrong-number-of-arguments (5 . 5) 1)
  clomacs-ensure-nrepl-run("ejc-sql")
  ejc-add-classpath("/home/matteo/.m2/repository/com/oracle/jdbc/ojdbc8/12.2.

[2019-10-21 09:19] kostafey commented on #112
Ok. What do you actually do? Could you describe steps to reproduce this bug?
Could you also provide ejc-sql version: `M-x ejc-version [RET]`

[2019-10-22 09:39] matteoredaelli commented on #112
Hello

Now it works after deleted any files .emacs and .emacs.d/* files and reinstalling packages

Regards
Matteo

[2019-10-22 09:39] #112 closed

[2019-11-15 09:33] alf-mindshift opened #113 "Less aggressive separator detection"
I suggest the following change:

[code]

[2019-11-15 10:32] kostafey commented on #113
The ending separator/delimiter case should be considered too since it's a common practice e.g. for MySQL:
http://www.mysqltutorial.org/mysql-stored-procedure/mysql-delimiter/

[2019-11-15 15:32] kostafey commented on #113
Ok, looks like I should explain `ejc-sql` separators usage a little bit. `ejc-sql` attempts to be 2 things simultaneously: easy ad-hoc client for databases like h2 or SQLite and full-fledged client for databases like Oracle. There are 2 meanings of separators in `ejc-sql`.

* First is a border to determine the area in Emacs buffer should be passed to evaluation. e.g.:
[code]
So, you don't need to

[2019-11-15 20:17] alf commented on #113
Being able to do math solves my issue perfectly. Thank you for the quick turn around time.

While I do find the separator-stuff a bit confusing, my feeling is that this issue was more a bug than a user error.

[2019-11-25 14:32] AndreaCrotti commented on #92
Hi @kostafey ,
 I'm getting the same error trying to execute INSERT/CREATE TABLE
I tried also to run with the master version of ejc-sql (lein repl and connecting from emacs), but still get the same.
And also `j/execute!` directly in the repl returns  the same error.

Any suggestions about how to debug/fix it?

[2019-11-25 14:48] kostafey commented on #92
@AndreaCrotti Could you please update `ejc-sql` to try with newest `org.clojure/java.jdbc "0.7.10"` from upstream.
If no luck with it, could you provide the database type and JDBC driver you use for access.

[2019-11-26 15:07] pepperblue opened #115 "update broke auto-completion on spacemacs-develop"
After receiving latest package updates on spacemacs-develop auto-completion is broken:
Info from Messages-buffer is:

`Receiving database structure... [2 times]`
`Wrong type argument: stringp, nil in wrapped Clojure->Elisp function: ejc_sql.structure$complete_auto_complete@24a6df87 elisp: (ejc-complete-auto-complete "hio_base.sql" 13)`

I was trying to get more debug information with `(setq debug-

[2019-11-26 17:25] AndreaCrotti commented on #92
Actually I was already trying with 0.7.10, I just ran a`lein ancient upgrade` before trying.

The db is a Postgres instance in a docker container
[code]

I can try with some other version too potentially if that could the issue.

[2019-11-26 17:43] AndreaCrotti commented on #92
I also tried now with Postgres 12.1 to see if it made a difference but I get the same result..

[2019-11-26 22:26] kostafey commented on #115
Could you please provide the Emacs Lisp stack trace (<kbd>M-x toggle-debug-on-error</kbd>) by doing the following:
1. Locate point (cursor) at the expected autocompletion position.
2. Eval desired Emacs Lisp code:
<kbd>M-:</kbd> `(ejc-complete-auto-complete "hio_base.sql" 13)`<kbd>[RET]</kbd>

The first argument here is a buffer name and the second is a current point position (can be obtained by <

[2019-11-27 07:56] pepperblue commented on #115
It seems that auto-comlete is only broken for db-entities (tables, columns and so on). Auto-complete for SQL-keywords is working at least partially ...

[2019-11-30 13:27] pepperblue commented on #115
Using doom-emacs and a local database-connection I get a different error with the following backtrace:
[backtrace-buffer.txt](https://github.com/kostafey/ejc-sql/files/3907128/backtrace-buffer.txt)

[2019-11-30 18:45] kostafey commented on #115
@pepperblue, could you try the latest updated version, please.

[2019-11-30 18:50] kostafey commented on #92
@AndreaCrotti, could you provide your database configuration created by `ejc-create-connection` with mangled username and password, please?

[2019-12-01 10:52] pepperblue commented on #115
Errors are gone! I tested against two Postgres-DBs with different results:

A remote DB with lots of tables and data (running Postgresql-Version 9.3): auto-complete is working as expected

A local DB - for testing purposes only - with only one table with two columns containing no data (running Postgresql-Version 11.6): I nearly get no candidates for table and columns in auto-complete-popup (sporad

[2019-12-01 16:52] kostafey commented on #115
@pepperblue, please try with the current update.

[2019-12-02 10:49] pepperblue commented on #115
For local test-DB auto-complete is working as expected now, but for remote DB auto-complete is blocking input:
[ejc-error.txt](https://github.com/kostafey/ejc-sql/files/3910847/ejc-error.txt)

[2019-12-25 08:06] stardiviner opened #116 "Can ejc-sql support sql.el's sql-interactive-mode?"
Is ejc-sql possible to provide code complete for `sql.el`'s `sql-interactive-mode` buffer?

[2020-01-23 11:37] stardiviner commented on #116
Here is my temporary solution:

[code]

WDYT?

[2020-01-25 19:32] orencio opened #117 "ejc-add-outside-borders-p: Wrong number of arguments"
Hi, I've installed ejc-sql and I've configured it, but after connecting to database I execute this sentence:

[code]
but I get this error:

[code]

This is my configuration:

[code]

How can I solve it?

[2020-02-01 23:45] kostafey commented on #117
@orencio Could you please eval and provide the evaluation results of the following expressions in you ejc-sql connected buffer:
* `M-:` `(clomacs-get-connection "ejc-sql")`
* `M-:` `ejc-db`
* `M-x` `ejc-version`
* `M-x` `emacs-version`

[2020-02-02 02:09] kostafey commented on #116
@stardiviner, how do you plan to connect to the desired database? Are you going to use `sql-mode`  connection engine? Maybe this ad-hoc workaround will be ok for you. But for future development, I think it's worth to provide `ejs-sql` own DB connection for `sql-interactive-mode`.

[2020-02-02 08:59] stardiviner commented on #116
I agree, thanks that this is on the ejc-sql planning list.

[2020-02-02 17:33] kostafey commented on #115
@pepperblue, please try the latest one.

[2020-02-02 19:57] #113 closed

[2020-02-03 10:32] pepperblue commented on #115
Auto-complete now is working for me and postgres. Thank you for the fix!

[2020-02-03 10:44] pepperblue opened #118 "Connecting to Informix-database"
Connecting to Informix-database does not work by simply setting `:classpath` in `ejc-create-connection.` Additionally I have to add dependency in `project.clj` like `[com.ibm.informix/jdbc "4.10.13"]`.
If I want to use jdbc-driver 4.50.x I also have to add bson-dependency `[org.mongodb/bson "3.12.1"]`

[2020-02-03 10:48] pepperblue opened #119 "No db-related candidates in auto-complete for Informix-connection"
For connection to Informix-db I get no auto-complete-candidates for db-specific entities like tables and columns - no message or error occurs ...

[2020-02-03 11:00] pepperblue opened #120 "Misaligned candidates in auto-complete-popup with emacs native line numbers"
When emacs native line numbers are enabled, auto-complete-candidates in popup are misaligned:
![misaligned](https://user-images.githubusercontent.com/3543271/73647790-8df8c000-467c-11ea-8cd7-6e1bc6f23215.jpg)
Using `linum-mode` alignment is ok ...
![wellaligned](https://user-images.githubusercontent.com/3543271/73647823-9b15af00-467c-11ea-9e25-fe522af28763.jpg)

[2020-02-03 11:00] #115 closed

[2020-02-03 12:26] kostafey commented on #120
This problem is not related to `ejc-sql` itself, it's an Emacs `auto-complete` issue, actually even deeper - `popup-el`. Unfortunately, `popup-el` is not under active development at this moment. You can try this fork https://github.com/kostafey/popup-el.
Furthermore, probably we should consider migrating to `company-mode` for code completion.

[2020-02-03 12:28] kostafey commented on #118
Unfortunately, I don't have any installed Informix databases. What version do you use? I'll try to reproduce it.

[2020-02-03 14:35] orencio commented on #117
Hello, these are theresults:

[code]

[2020-02-03 14:51] pepperblue commented on #120
Thank you for the information. Your fork of `popup-el` doesn't help in this case ...

[2020-02-03 14:52] pepperblue commented on #118
The Informix-Version is `11.70.FC8`

[2020-02-04 13:21] holtzermann17 opened #121 "C-h t ejc-describe-table"
The readme says that <kbd>C-h t</kbd> describes a table, but it actually opens the Emacs tutorial.

Furthermore <kbd>M-x</kbd> ejc-describe-table <kbd>RET</kbd> gives an error when used with a default slot-filler.  For example:

Describe table (default quote_requests): <kbd>RET</kbd>

[code]

However, it works when I type out the name of the table:

Describe table (default quote_requests): quote_r

[2020-02-04 13:41] kostafey commented on #121
It's a part of `ejc-sql-mode` minor mode keymap. So, you should run `ejc-connect` first for `sql-mode` buffer or open SQL code snippet edit buffer (<kbd>C-c '</kbd> or `M-x org-edit-special`) for `org-mode` buffers.

Please, provide the full error trace by enabling `M-x toggle-debug-on-error`.

[2020-02-04 13:52] holtzermann17 commented on #121
Regarding the first issue: I was running within an Org Mode buffer, so that's why the binding wasn't there. Thanks for explaining!
****
Regarding the second one: I tried just now, it's not an Emacs error -- rather, contents printed into the `*ejc-sql-output*` buffer after I press <kbd>C-c C-c</kbd>.  Is there another place to look for logs/traces?

[2020-02-04 13:57] holtzermann17 commented on #121
I ran `edebug-defun` on `ejc-describe-table` and saw that I get different inputs in the `(interactive ...)` form when I press <kbd>RET</kbd> vs when I type in the table name.

S-exp in question:
[code]
Accept default:

vs type out the table name:

[2020-02-04 14:17] kostafey commented on #121
@holtzermann17 Please, try the latest commit.

[2020-02-04 15:19] pepperblue commented on #117
I get this error message from time to time. Rebuilding packages - I'm using Doom-Emacs - helps in this case ...

[2020-02-05 14:13] orencio commented on #117
Hi @pepperblue, you are alright, I've uninstalled and installed again and now it runs ok.

Thank you very much.

[2020-02-05 14:13] #117 closed

[2020-02-07 13:36] holtzermann17 commented on #121
**Version: ejc-sql-20200204.1415**

`used_asset_transactions`<- <kbd>M-x</kbd> ejc-describe-table <kbd>RET</kbd>
[code]

[2020-02-07 23:45] sshantt opened #122 "Connection to Hive"
I'm trying to connect to a Hive2 database and am getting the following error even though I have a valid driver linked within the classpath

`Debugger entered--Lisp error: (error "SQLException No suitable driver found for hive2://`

[2020-02-08 12:47] pepperblue commented on #122
I have a similar issue connecting to Informix. My - hopefully - temporary solution is, to add the driver dependency to `project.clj`-file. Therefore I clone this repo locally, apply the change to `project.clj` and use the local repo within emacs - for details: #118

[2020-02-09 13:37] kostafey commented on #121
@holtzermann17 Please try the latest one.

[2020-02-09 13:41] kostafey commented on #120
Actually, this issue duplicates https://github.com/kostafey/ejc-sql/issues/67

[2020-02-09 13:41] #120 closed

[2020-02-14 16:24] vonHabsi opened #125 "Does your library have a lower level API for reading results into lisp lists?"
[emacs-sqlite3-api](https://github.com/pekingduck/emacs-sqlite3-api) has the [sqlite3-column-*](https://github.com/pekingduck/emacs-sqlite3-api#-sqlite3-column-) functions for retrieving the results of a row.

Does your package have functions which can be used in this manner?

[2020-02-14 17:42] kostafey commented on #125
@vonHabsi Not really. It was in the early versions. It's not actually a library, it aims to be an application. The actual behavior is:
1. The user asks JVM backend to evaluate an SQL query via Http.
2. JVM backend starts an independent process for query evaluation.
*-- Here the user can pass a request to terminate the evaluation process. --*
3. When evaluation finishes, it prints the results to th

[2020-02-14 17:52] vonHabsi commented on #125
Yes I am.  I am looking for general API for SQL programming and emacs/elisp doesn't seem to have one.

[2020-02-14 17:55] kostafey commented on #121
@holtzermann17, can I consider the issue closed?

[2020-02-14 19:26] holtzermann17 commented on #121
At the moment I am seeing another error.

[code]

*****
It seems to be linked to this form inside `ejc-show-last-result`.

[code]

[2020-02-15 17:43] kostafey commented on #121
@holtzermann17, Unfortunately, I can't reproduce your error. Please, check whether you can evaluate this code snippet after run <kbd>M-x toggle-debug-on-error</kbd>:
[code]
Furthermore, please provide the contents of `ejc-result-mode-hook` variable.
Also, you can try to rebuild packages, probably this can help: https://github.com/kostafey/ejc-sql/issues/117#issuecomment-581959519

[2020-02-15 21:00] holtzermann17 commented on #121
I reinstalled and it is working now. Thanks!

[2020-02-15 21:00] #121 closed

[2020-03-06 09:44] stardiviner opened #126 "ejc-sql can't handle EXPLAIN results"
I execute following PostgreSQL EXPLAIN statement, but ejc-sql report error:

[code]
The error:
[code]
I confirmed ejc-sql works fine. This error only happens on `EXPLAIN`.

[2020-03-06 13:16] kostafey commented on #126
@stardiviner, please try with the latest commit.

[2020-03-06 13:50] stardiviner commented on #126
Thanks for quick fixing. Confirmed works. :)

[2020-03-06 13:50] #126 closed

[2020-03-07 12:30] stardiviner opened #127 "complete some functions for PostgreSQL is wrong"
For example, `pg_typeof` function in PostgreSQL is not shown in ejc-sql candidates. It only shown not exist function `pg_type`. Maybe my PostgreSQL driver version is old?

Also I found ejc-sql can't complete some table columns.
For example, I have a table named `cities` which has column names `city`, `temp`, `date`. But ejc-sql can't complete `city` after `SELECT`.

[2020-03-25 05:30] vanniuner opened #129 "multiple statements error"
I just use the multiple statements. An error appears , and it showes that "Error: ORA-00911: invalid character."
But if I execute a single statement which does not contain ';' . Nothing wrong appears.
Is  this a bug? How to fix it ?

[2020-03-25 10:36] kostafey commented on #129
@vanniuner, what is your database type? Could you also provide an example query you are trying to execute?

[2020-03-25 13:47] vanniuner commented on #129
update JS_YF set F_DD='3063795' WHERE F_PKEY='2020030300003';
update JS_YF set F_SD='jxssswN' WHERE F_PKEY='2020031800001';
/

[2020-03-25 15:13] kostafey commented on #129
First of all, please update with the lastest commit.
Since you use `:separator "/"` in your database connection configuration you can't use `;` as transaction delimiter, because you expect it as a part of SQL syntax. E.g. for Oracle databases symbol `;` used in stored procedures code definitions. If you want to pass many statements (they will be executed as separate transactions) and obtain a list

[2020-03-26 02:34] vanniuner commented on #129
I try to execute multi statements, but it still reports an error even I use the delimiter ;

[2020-03-26 11:37] kostafey commented on #129
The actual version at this moment is `ejc-sql 20200325.1455` (https://melpa.org/#/ejc-sql), so please update it. Furthermore, please note, GNU Emacs 26.3 (or latest version) is required.

[2020-03-26 14:27] vanniuner commented on #129
I appreciate your reply. I try it ,and it succeeds.

[2020-03-26 14:27] #129 closed

[2020-04-07 00:20] sshantt commented on #122
Hey @pepperblue Thanks for the reply. Can you clarify how I can do this. How do I add my jar file driver to the dependencies list?

[2020-04-07 06:41] pepperblue commented on #122
@sshantt I have no experience connecting to Hive, but my suggestion is to go to https://mvnrepository.com/artifact/org.apache.hive/hive-jdbc
choose one of the latest releases of the jdbc-Driver and add the listet compile dependencies - version "1.1.0" is from 2015 ...

[2020-04-08 00:12] sshantt commented on #122
@pepperblue I tried all versions with no avail. I did get Presto working with your method though :)

@kostafey After each successful query I get the following in my minibuffer. Any idea how to stop it from doing so?

[code]

[2020-04-08 00:33] sshantt commented on #122
Fixed the `:done` issue by following steps in issue #93

[2020-05-02 00:42] kostafey commented on #118
@pepperblue, could you please remove all modifications from `project.clj`, update `ejc-sql` to the latest commit, and try to connect to the Informix database as described in https://github.com/kostafey/ejc-sql#informixconnection.

[2020-05-02 00:53] kostafey commented on #122
@sshantt,  could you please remove all your modifications from `project.clj`, update ejc-sql to the latest commit and try to connect to the Hive database the same way as described in https://github.com/kostafey/ejc-sql#informixconnection (by using the appropriate JDBC driver artifact):
[code]
Could you also please provide an example of a successful configured connection via `ejc-create-connection`

[2020-05-02 14:02] pepperblue commented on #118
For me it's working now :+1:
Thank you for the fix!

[2020-05-02 14:02] #118 closed

[2020-05-02 14:08] kostafey commented on #105
@alf-mindshift, could you please try the latest version of `ejc-sql` (with this commit: https://github.com/kostafey/ejc-sql/commit/f8e800df8bbbd1d6f5eec6c0524cbad07de1ef79). Are you still reproducing this bug?

[2020-05-02 20:18] alf commented on #105
I’ve added it to my todo list. Must wait until I get back to work.

[2020-05-05 00:14] sshantt commented on #122
@kostafey I wish I could... I no longer have JDBC access to that Hive database. Its been swapped with a proprietary interface :( . Here is my successful Presto config though :)

`
(ejc-create-connection
     "Presto-db-connection"
     :subprotocol "presto"
     :dependencies [[com.facebook.presto/presto-jdbc "0.232"]]
     :classpath "/Users/usernameHere/.m2/repository/com/facebook/presto/presto-

[2020-05-05 08:55] kostafey commented on #122
@sshantt, could you please check that `:classpath` parameter is redundant here, and it works anyway. The `:dependencies` parameter is enough.

[2020-05-05 19:56] sshantt commented on #122
@kostafey That's right the setup worked without that
[code]

[2020-05-07 20:00] alf-mindshift commented on #105
Can confirm that org-babel works with 0.4.0.

[2020-05-07 20:00] #105 closed

[2020-05-15 23:39] stardiviner opened #131 "delete backwards is slow"
I can feel the slow suspend when I delete backwards in SQL like this (the bar | represents the point):
[code]

I did an Emacs profiler profiling. Here is the results:
Memory result
[code]

CPU result
[code]

[2020-05-17 17:04] kostafey commented on #122
Fixed.

[2020-05-17 17:04] #122 closed

[2020-05-17 18:00] kostafey commented on #131
The only CPU consumption is related here. Ok, here is a reason for this suspending:
[code]
It's weird. Autocompletion should not be required when you deleting characters. I can't reproduce it.
Ok, once again, what do you actually do? Do you only press the `Backspace` button when point (cursor) is located in this position? What is your buffer `major-mode`? Is it `sql-mode` or `org-mode`?
[code]

[2020-05-18 02:16] stardiviner commented on #131
Yes, I only pressed the `Backspace` button, and in `sql-mode` instead of `org-mode`.

After your hint, I assume this is not ejc-sql mechanism, so I checked out my `auto-complete` config.
After removed some auto trigger completion configs. The problem is gone.

Sorry for the disturb, I should have a deep thinking of this problem.

[2020-05-18 02:16] #131 closed

[2020-05-19 11:39] stardiviner opened #132 "org table result is truncated"
I have following example:
[code]
You can see, the result lines are truncated. I checked in `psql`. It's fine.
I checked all `org-table-*` prefix variables, has no option to control this truncate behavior. Then I check out `org-table.el` source code, Found some related functions `org-table-shrink`, `org-table-expand` and `org-table-toggle-column-width`. But still don't know how this behavior happen

[2020-05-19 11:44] stardiviner commented on #127
Gentl ping of this issue.

[2020-05-19 14:52] kostafey commented on #132
@stardiviner, as far as I understand the essence of this issue is a column width restriction.
Looks like, you need to set `(ejc-set-column-width-limit nil)`. Also, please note, this customization should be made in `'ejc-sql-connected-hook`. Read this doc section for more details and examples:
https://github.com/kostafey/ejc-sql#performance-output-customization

[2020-05-19 22:38] stardiviner commented on #132
Thanks a lot. I missed README. Learned new stuff. :)

[2020-05-19 22:38] #132 closed

[2020-05-20 09:39] kostafey commented on #127
@stardiviner, please try with the latest commit. Also, please note that column autocompletion for `SELECT` queries is restricted by a single table. E.g. this case `SELECT | FROM table` is ok, but here autocompletion will not work: `SELECT | FROM table1, table2`.
Use aliases (or full table names) in this case:
`SELECT t1.| FROM table1 t1, table2 t2`
or
`SELECT table1.| FROM table1, table2`.

[2020-05-20 11:02] stardiviner commented on #127
I tested the latest commit. It works fine now. Thanks a lot @kostafey

[2020-05-20 11:02] #127 closed

[2020-06-04 19:43] schmeic opened #133 "mariadb no suitable driver found"
I'm correctly setting the :classpath but still get the "No suitable driver found" error when trying to connect. I've looked at issue #73 and seemed like the classpath was correct when running eval, but I didn't fully understand all the comments towards the end.

I'm using Java 11 and here are my connection parameters. Any ideas?
[code]

[2020-06-04 20:00] kostafey commented on #133
Could you try this one, please:
[code]

[2020-06-04 20:05] schmeic commented on #133
I actually did try that first, and it did successfully install the jar file but then got the same "no suitable driver" error. I've also tried the different ways to specify db/host/port info, but that didn't help either.

Also, I do have a java project that uses the same version of the mariadb client no problem.

[2020-06-04 20:35] kostafey commented on #133
@schmeic, the reason for this problem is missing `classname` for MariaDB in the class names map describes what class should be used with certain database type (see [clojure/java.jdbc source link](https://github.com/clojure/java.jdbc/blob/54d2339e16066aed84319c0fb5111f4b2ff22611/src/main/clojure/clojure/java/jdbc.clj#L149)). You can set it manually:
[code]

[2020-06-04 21:01] schmeic commented on #133
That worked, thanks! Now I'm trying to figure out column completion, it's not happening for me...

[2020-06-04 21:12] kostafey commented on #133
Yes, unfortunately at this moment `ejc-sql` doesn't support autocompletion for MariaDB (see [README](https://github.com/kostafey/ejc-sql#autocomplete)). I'll fix it on one of the weekends. If you want, you can try to implement it by yourself, even if you are not familiar with Clojure. All you need is to provide the necessary SQL queries (see [MySQL autocompletion SQL queries](https://github.com/ko

[2020-06-04 21:26] schmeic commented on #133
Sorry, missed that in the README. Also noticed that `ejc-show-tables-list` doesn't work, but I can run `show tables` no problem. Wouldn't the autocomplete for mariadb be exactly the same as for mysql? I've tried several of the autocompletion SQL queries from the link above in my mariadb and they all work.

[2020-06-04 21:48] kostafey commented on #133
In general, all databse-related introspection queries should be described in `ejc-sql.structure/queries` map: tables list, columns list for a table (for `autocomplete`), functions list, function parameters list (for `eldoc`), and so on and so forth.

I've added using the same database introspection queries for MariaDB as for MySQL. I can't check it at this moment, since I don't have MariaDB instal

[2020-06-04 22:10] schmeic commented on #133
I just tried the latest commit, and autocomplete is now working! However, when I try and run a simple select query (that worked before), I get this error. Any ideas?

[code]

[2020-06-04 22:25] kostafey commented on #133
Could you restart your Emacs, please? Furthermore, what is your Emacs version?

[2020-06-04 22:54] schmeic commented on #133
Restart didn't help. I'm using Emacs 26.3. So, to use your latest commit, I just cloned it (~/.emacs/lisp/ejc-sql) and did this:
[code]
I also removed the  melpa package to make sure I wasn't using that. Maybe my setup is not correct?

[2020-06-04 23:04] kostafey commented on #133
It's weird. Looks like this error doesn't relate to `ejc-sql` by itself. Can you try to run <kbd>C-h f case</kbd>. Is this function exists in your Emacs?

[2020-06-04 23:28] schmeic commented on #133
No, the case function doesn't exist. Now I've tried to revert to using the melpa package and I can't do a simple select either, but I get a different error...

[2020-06-05 10:08] kostafey commented on #133
@schmeic, ok let's try with the latest commit. Do you have any errors at this monument?

[2020-06-05 20:09] schmeic commented on #133
That did the trick! Working great now. One thing that I did have to add to my config was to explicitly require org otherwise I was getting orgtable-mode symbol is void. So, I just did this:

[code]
Thanks so much for all your help!

[2020-06-07 20:14] #133 closed

[2020-06-27 10:46] vanniuner opened #134 "Can not install ejc-sql in macbook"
I alway use the _ejc sql_,It's an awesome project and it's a great tool for operating the datebase.
It could be installed in the ubuntu system. **However, it could not been installed in my macbook whose operation system is osx.** Could you give me some useful suggestion,or help me to deal with this problem?
I am looking forward to your reply.

I list some details in the installation for your refer

[2020-06-27 16:38] vanniuner commented on #134
brew install resovled

[2020-06-27 16:38] #134 closed

[2020-07-23 04:41] codygman opened #136 "Doesn't work on nixos"
Specifically I get:

<details><summary> traceback </summary>
[code]
</details>

I guess that means the official nixpkgs.emacsPackages.ejc-sql package should depend on leinigen with a preinstalled nrepl and all dependencies in advance, otherwise it won't work. Or maybe there's a setting to say "act normally and install to ~/.leiningen" or wherever that is.

[2020-07-26 01:21] kostafey commented on #136
Hi, @codygman. At this moment, using the write-protected project directory is impossible. `nREPL` needs to create `.nrepl-port` file and it is not an option: https://github.com/nrepl/nrepl/blob/35e8eb5ba2c05c7063b8e794e6f2d62f587646cd/src/clojure/nrepl/cmdline.clj#L412

I don't maintain nixpkg `ejc-sql` package. At this moment the only preferred way to install `ejc-sql` is by `MEPLA`: https://gith

[2020-07-27 10:50] stardiviner opened #137 "ejc-eval-user-sql-at-point: Symbol’s value as variable is void: db"
After upgrade on MELPA packages. new version ejc-sql has error:
[code]

[2020-07-27 11:40] kostafey commented on #137
Fixed with last commit: https://github.com/kostafey/ejc-sql/commit/15675ca3bd71e0411956e440be8d660f28ae27d8
Please, update the package.

[2020-07-27 11:40] #137 closed

[2020-07-31 20:30] codygman commented on #136
Okay, I'll close this for now then.

For any curious searchers who might want to use ejc-sql on nix I left off at setting `project-dir` to `/tmp` and got a new error that seems it could be elisp related. This was with commit

[code]

[2020-08-07 16:28] jconti opened #138 "Use with an existing Clojure programs nrepl connection"
Since I am doing database development in Clojure, it would be useful to use my own program's process as the backend.  Is this possible?

[2020-08-09 12:26] kostafey commented on #138
@jconti, please, update `ejc-sql` and it's [`clomacs`](https://github.com/clojure-emacs/clomacs) dependency and try this description in the docs: https://github.com/kostafey/ejc-sql#different-nrepl

[2020-08-19 12:48] jconti commented on #138
Thank you!  I will try this.

[2020-08-24 14:18] stardiviner opened #140 "ejc-sql company-mode does't auto trigger completion after "." character."
When I connect to PostgreSQL database server, I type in `SELECT * FROM pg_catalog.` When I use `auto-complete` it works fine will auto show candidates after `.`. But when I use `company-mode`, it does not auto trigger completion after the character `.`

- ejc-sql latest version in MELPA
- company-mode latest version in MELPA

[2020-08-24 14:25] kostafey commented on #140
`company-mode` usage still in the experimental state. But yeah, it's a bug :).

[2020-08-24 14:37] stardiviner opened #141 "ejc-sql company-mode is slow on completion with profiling data"
I used Emacs package `explain-pause-mode` profiled ejc-sql company-mode candidates completion. It's slow.
Here is the profile data output:
[code]

From the output, can see not other extensions caused slow. Is there space to improve the speed for company-mdoe?

[2020-08-24 14:39] stardiviner commented on #140
A temporary solution is set minimal prefix length of company-mode to `0`. Like this:
[code]
Then it will complete after `.`. But it's a hack way.

[2020-09-27 14:59] vanniuner opened #142 "want imploded ivy!"
Is it possible to use the ivy plugin when M-x ejc-connect choose.
Can you give an example about the config?

[2020-09-27 22:25] kostafey commented on #142
Yoy can define fuction like that:
[code]
Then use it just like `ejc-connect` in any `sql-mode`/`org-mode` buffers: <kbd>M-x ejc-connect-ivy</kbd>

[2020-09-27 23:44] tpeacock19 commented on #142
You can also change the two instances of `ido-completing-read` to `completing-read` in the ejc-sql.el file and it should work with any completion framework.

@kostafey is there a reason ido is hardcoded?

[2020-09-28 00:41] kostafey commented on #142
@tpeacock19 as far as I see, I can't use `flx-ido` if `ido-completing-read` is replaced by `completing-read` despite this settings:
[code]
The reason for `ido` is it's `flx` fuzzy matching engine, which is handy. But ok, it's only my habits, so it's worth to use modern completion frameworks for most of the users.
The solution may look like this:

[code]
so, to keep backward compatibility, one can

[2020-09-28 01:47] tpeacock19 commented on #142
Great, yeah I'll send over what I have shortly. Most of it is lifted from projectile.el.

As far as ido, perhaps you can set the `completing-read-function` to `ido-completing-read`. I'm not sure of any side effects as I use [selectrum](https://github.com/raxod502/selectrum) and [orderless](https://github.com/oantolin/orderless) to handle my completion and would highly suggest them.

[2020-09-28 05:36] vanniuner commented on #142
Thank you，ejc-sql is so cool～

[2020-09-28 19:27] kostafey commented on #142
Fixed.

[2020-09-28 19:27] #142 closed

[2020-10-21 14:46] JohannesFKnauf opened #144 "Full query result export, e.g. as CSV"
Quite often, when doing interactive analysis, I want to save all results into a file for later use, e.g. as CSV. This is similar to what you get in Oracle's SQL Developer when you right-click on the result browser and choose "Export".

I could not find this feature in EJC's documentation. I would also be happy to implement it and contribute it, if somebody gives me a bit of guidance how to start.

[2020-10-21 16:03] kostafey commented on #144
Hello, @JohannesFKnauf! That is pretty easy. The actual behavior of `ejc-sql` is to print the result dataset to the file (in pain text table format). Then JVM it notifies Emacs: "data printed into `filepath`, please refresh the output buffer".

So, all you need is to provide your own ResultSet printer for any desired format like for plain text table here:
https://github.com/kostafey/ejc-sql/blob/m

[2020-11-03 14:37] Voooza opened #145 "After ejc-connect I see the system is listening on port 8080. Why? Can I change the port in configuration?"
Hi maintainers,
thanks for this great thing. I started using ejc-sql just recently and I especially love the integration with org-mode.

I have however run into an issue. I am working on a java application deployed to jboss and I noticed that it did not want to start.
After some digging arround I found that it is due to port 8080 being already used.
Some more digging and I found that it happenes w

[2020-11-03 18:22] kostafey commented on #145
Hello, @Voooza. You can set a port by updating `clomacs-httpd-default-port` variable. Please, check this added README section:
https://github.com/kostafey/ejc-sql#set-httpd-port
furthermore, you can check out this configuration example:
https://github.com/kostafey/kostafeys-emacs-confik/blob/master/custom/ejc-sql-conf.el

[2020-11-03 19:11] Voooza commented on #145
Awesome. thanks!

[2020-11-03 19:11] #145 closed

[2020-11-29 17:53] #138 closed

[2020-11-29 20:48] kostafey commented on #140
@stardiviner, please try the latest commit and set `ejc-complete-on-dot` to `t`:
https://github.com/kostafey/ejc-sql#company-mode

[2020-11-30 03:22] stardiviner commented on #140
Thanks @kostafey , confirmed solved. 😄

[2020-11-30 03:22] #140 closed

[2020-12-04 23:45] cbarnabas opened #146 "Dollar Quoting"
Hello,
I am trying to run some PL/pgSQL and am getting an error regarding the dollar-quoted body.
![2020-12-04-154137_960x1011_scrot](https://user-images.githubusercontent.com/44208860/101225926-9f697a80-3647-11eb-9f0e-e72422809920.png)

Is there some further configuration that is needed for this to execute?

[2020-12-05 10:23] kostafey commented on #146
Hello, @cbarnabas.
1. Please, read this docs section: https://github.com/kostafey/ejc-sql#separators-delimiters
2. Please, add `:separator "/"` to the database connection configuration, e.g.: https://github.com/kostafey/ejc-sql#oracle-connection

[2020-12-07 18:13] cbarnabas commented on #146
Ah thank you! Sorry for the noise.

[2020-12-07 18:13] #146 closed

[2021-02-04 20:55] codygman opened #147 "ejc-prev-result doesn't show previous result"
Using ejc as of commit 6eecf51e4c5e6f7d24ab90e8def34f6cea4eda52 if I do:

M-x get-ejc-temp-buffer

enter:

[code]

Call `C-c C-c` on each one then press `M-,` and the results for the first query show up.

I expected the results for the last run query. This is either a bug or I don't understand how it's meant to work.

I also don't see how to disambiguate between query results that are very close,

[2021-02-05 21:09] wilkinsonmr opened #148 "ejc-get-keywords uses lowercase instead of downcase"
With ejc-candidates-uppercase set to nil, ejc-get-keywords throws "Symbol's function definition is void: lowercase". Use the downcase function instead.

[2021-03-01 15:49] vanniuner opened #149 "How to display the insert statement？"
How to display the insert statement？
I don't want use mysqldump,navacat,datagrip ...

[2021-03-22 04:12] codygman opened #151 "company completion never completes"
I installed it via melpa per the instructions and the completions just never seem to happen.

I'm using GNU Emacs 28.0.50 on NixOS 21.05.20210222.c7d0dbe.

[2021-04-23 16:45] mbarton98 opened #152 "Snowflake JDBC - guidance to help add support"
This was the only Emacs solution that I found that works with Snowflake. I would love to help test or with some guidance add some additional support for completion. The show tables function errors out with a bad query, but describe table at point works. So for now to get completion of fields, I use C-h t to open a buffer describing the table and expansion will use that buffer as a source when edit

[2021-07-03 04:13] vanniuner commented on #142
Thanks for your ejc-connect-ivy function, I have used it for a long time.
However, there is a problem in my emacs environment. And the problem is that I must execute ejc-connect first, otherwise the system shows "let*: Symbol’s value as variable is void: ejc-connections".
How to achieve my goal by only executing 'ejc-connect-ivy' rather than  executing 2 steps.

[2021-07-03 04:14] vanniuner commented on #142
Thanks for your ejc-connect-ivy function, I have used it for a long time.
However, there is a problem in my emacs environment. And the problem is that I must execute ejc-connect first, otherwise the system shows "let*: Symbol’s value as variable is void: ejc-connections".
How to achieve my goal by only executing 'ejc-connect-ivy' rather than executing 2 steps.

[2021-07-03 08:00] daja93 opened #153 "[oracle structure] dba_procedures used in lieu of all_procedures"
Hello and thank you for all your work.

When trying to use your plugin, i came across the inability for me to get the DDL of a procedure (ejc could not determine the type of the object), after digging in your code, I noticed you used dba_procedures (a table over which I have do not have select right granted)

The rests of the structure.clj uses all_[*] tables, is there a particular reason for usin

[2021-08-04 16:00] thermopyle opened #154 "Cannot set fetch size or max rows"
I get "Too many rows" when I query my SQLite DB. To see all the data, I try to set the `ejc-set-fetch-size` and `ejc-set-max-rows` variables as mentioned in the documentation of ejc-sql. This only results in Emacs crashing on startup. When I check the implementation of ejc-sql I cannot find any such variables. How can I avoid the problem with "Too many rows" in my queries?

[2021-08-04 16:24] thermopyle commented on #154
Solved it, didn't see the part in the docs about doing this in a hook.

[2021-08-04 16:24] #154 closed

[2021-08-10 01:09] oolonc opened #155 "SQLite Company Completion"
Good day!

Thank you for this excellent package!

I'm having some difficulty getting autocompletion working when connected to an SQLite database.

The error I'm see is as follows:

[code]

Some additional info:
[code]

Any hints to check out would be appreciated. Thank you again!

[2021-08-14 14:16] anonimitoraf opened #156 "Feature Request: Display database column types in direx"
Hi! Thanks for this package.

I was just wondering if it's possible to show the data types of the DB columns in direx?

[2021-08-22 20:55] daniel2501 commented on #152
What config did you use to get connected to Snowflake? I've been trying, but getting a timeout.

[2021-08-23 05:54] mbarton98 commented on #152
I have these two connections defined in my init file. I replaced some of the sensitive info, but the first is an example using the browser for authentication to support our SAML federation setup with Snowflake. The second example is for a training class using username and password.

(ejc-create-connection
   "ideas_snowflake"
   :dependencies [[net.snowflake/snowflake-jdbc "3.13.4"] [net.java.dev.

[2021-11-18 21:09] mbarton98 opened #159 "tip for org mode users that export their notes"
I was trying to export to pdf with `C-c C-e l o` and would get an error to run ejc-connect first. Then I realized that export is a "new" buffer, so I added the `:cache yes` to the header and that allowed the export to use the cached results rather than invoking the query again.
[code]

[2021-11-19 19:13] kostafey commented on #159
Unfortunately, `ejc-sql` can't help here. It's an `org-mode` related issue.

[2021-11-19 19:13] #159 closed

[2021-11-30 04:52] salehmu opened #161 "Error in process sentinel"
I'm getting `error in process sentinel: Wrong number of arguemnts: #<subr string-match, 4>` whenever I run `M-x` `ejc-eval-user-sql-at-point` to evaluate some commands. It takes about ~1 minute to evaluate it and I get the output properly.
I faced this issue only when I downgraded to Emacs 27, it used to work fine in Emacs 29. Any ideas?

[2021-12-15 03:26] whudwl opened #162 "mssql: a result set was generated for update"
When executing this snippet:
[code]
I get this error:
[code]

I'm using SQL Server. How should I execute this kind of scripts?

[2021-12-27 23:04] mbarton98 opened #163 "direx.el no longer works after Emacs master commit d65534d254 on Dec 26 2021"
After compiling Emacs from master, I got an error in my init file loading direx.el.

d65534d254 master * lisp/emacs-list/eieio-compat.el: Really move to obsolete

The database tree view did not work for me anyway, so I just commented out the (require 'ejc-direx) from ejc-sql.el

That allowed me to continue to use ejc-sql to connect and query my SnowFlake database from org mode. Looks like direx.el

[2021-12-30 09:57] stardiviner commented on #163
I got error warning `cl-generic-ensure-function: direx:tree-name is already defined as something else than a generic function` when execute command `ejc-connect`.

[2022-01-03 10:13] vanniuner opened #164 "Please let `DESCRIBE-TABLE` show comment about the fields."
Please let `DESCRIBE-TABLE` show comment about the fields.

name     | type      | comment
--------+--------+----------------
id           | BIGINT  |  just id with uuid

[2022-02-17 08:29] thermopyle opened #165 "Error when trying to connect"
I get the following error when trying to connect to a Redshift DB;
[code]
This used to work in ejc-sql but since a while back it doesn't. I have the same connection configured in DBeaver which works without any problems.

My config looks like this;

[code]
I use Emacs 28.0.50 on MacOS Monterey installed using homebrew.

[2022-02-23 06:37] vanniuner opened #166 "how to connect mongodb"
How to connect mongo, Can you give me a code case? It looks not official support

[2022-04-09 13:54] sienic opened #167 "Transaction rollback not working"
Sometimes I want to test a query on my dataset, and rollback after inspecting its results.
Unfortunately, the following query when executed with `ejc-sql`, does not rollback the transaction.

Could you point me if this a bug, misusage from the library, or simply a desired outcome?
If this is a bug, I am happy to investigate and provide a solution, but I want to get first your thoughts on this.

Th

[2022-04-11 18:03] meditans commented on #92
I have the same problem - namely, if I try to do `INSERT` or `CREATE TABLE` I get:
[code]
I could provide the appropriate versions, or better errors, if I knew how, @kostafey.
An interesting tidbit I noticed though: when I connect via `ejc-connect-interactive` I get this error:
[code]

[2022-04-12 08:09] AndreaCrotti opened #168 "Failure on connect in Emacs 28 with native compilation"
I'm getting this error with Emacs 28 with native compilation turned on, so maybe it's related to that.
I just get that when trying to connect to a database with `M-x ejc-connect ` or `M-x ejc-connect-interactive`

[code]

[2022-04-30 09:17] vanniuner commented on #167
Maybe case every single statment be executed within an independent transaction

[2022-05-11 04:32] huangfeiyu commented on #148
I just have exactly the same issue.

[2022-05-13 23:08] grtcdr commented on #168
Hi, I'm experiencing this as well, in my case, I'm using ORACLE as my database, and connecting to it remotely.

My output is slightly different, but very similar to yours:

[code]

[2022-06-21 03:14] #166 closed

[2022-06-21 21:17] ParetoOptimalDev opened #172 "ejc:goto--line-column not defined"
In:

[code]

There is no `ejc:goto--line-column` defined.

[2022-09-11 23:22] #155 closed

[2022-09-30 09:53] kirill-gerasimenko-da commented on #163
Got the same issue, but on installation of ejc-sql. Commenting out ejc-direx helped to get rid of this error for me.

[2022-10-28 11:48] cmal opened #173 "ejc-connect got AbstractMethodError"
(I've tested for postgresql and oracle)

M-x ejc-connect ...

    [nREPL] Starting server via /opt/homebrew/bin/lein update-in :dependencies conj \[nrepl/nrepl\ \"1.0.0\"\] -- update-in :dependencies conj \[refactor-nrepl/refactor-nrepl\ \"3.5.5\"\] -- update-in :plugins conj \[cider/cider-nrepl\ \"0.28.6\"\] -- repl :headless :host localhost
    Starting nREPL server for ejc-sql...
    Mark saved

[2022-10-28 12:15] cmal commented on #173
[](url)

[2022-10-28 12:15] #173 closed